@charset "utf-8";
/* CSS Document */
#dmainCon-act {margin:0; text-align:center;}

/*--上线活动弹窗--*/
.dmainImgDiv {width:750px; height:450px; text-align:center; margin:0 auto; display:inline-block;}
.dmainImgDiv img {width:750px; height:450px;}
.lastdailDiv {display:inline-block; width:21px; height:36px; margin-top:207px;}
.nextdailDiv {display:inline-block; width:21px; height:36px; margin-top:207px; margin-left:50px;}
a.dailImgClose {display:block; position:absolute; top:30px; right:30px; width:32px; height:32px; background:url(../images/activity/icon-main.png) -192px -864px no-repeat; cursor:pointer;}

/*--首页之前上线二维码--*/
.QRdailDiv {position:absolute; left:50px; bottom:82px; border-radius:0 10px 0 0; background:url(../images/activity/trans01.png) 0 0 repeat; text-align:center; margin:0; padding:10px; white-space:nowrap;}
.QRdailDiv p {display:inline-block; text-align:center;}
.QRdailDiv p + p {margin-left:10px;}
.QRdailDiv p img {width:110px; height:110px; display:block;}
.QRdailDiv p span {color:#fff;}

/*--上线弹窗滚动信息--*/
.dmainImgDiv .scrollInfo {width:640px; height:52px; margin:0 auto; padding-left:15px; padding-right:15px; text-align:left; background:#fff993; border-radius:10px; position:absolute; bottom:15px; right:15px; white-spze:nowrap;}
.dmainImgDiv .scrollInfo p {line-height:52px; color:#b41a25; display:inline-block; font-size:22px;}





























