@charset "gb2312";
/* CSS Document */

body { margin: 0 auto; font-size: 40px; font-family: Microsoft Yahei; line-height: 1.5; }
ul, dl, dd, h1, h2, h3, h4, h5, h6, form, p { padding: 0; margin: 0; }
ul { list-style: none; }
img { border: 0px; }
a { color: #767676; text-decoration: none; }
a:hover { color: #0180eb; text-decoration: none; }
.clearfloat { clear: both; height: 0; font-size: 1px; line-height: 0px; }

/*body*/
#container { width: 100%; height: auto; margin: 0 auto; }

/*header*/
.header-top{ width: 100%; height: 144px; background-image: url(../images/bj.png); background-repeat: repeat-x; background-position: left top;  }
.header{ width:100%; height: 144px;line-height: 144px; font-family: "Microsoft Yahei"; font-size: 50px; color: #fff; text-align: center; }
.header_txt{ height: 40px; width: 80px; position: relative; z-index: 10000; margin-top: -95px;float:right; margin-right:50px; color:#b0e3ff; font-size:40px; text-align:center; line-height:40px; border-radius:8px; border:1px solid #b0e3ff; padding:10px;}
.header_txt a{ color:#b0e3ff; font-family: "Microsoft Yahei"; text-decoration: none; }
.header_txt a:hover{color: #fff; text-decoration: none;}
 
.main{width:100%;margin-bottom:50px;}
.loan-note{width:100%; height:320px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999;  background-color: #edf2f8;}
.loan-note_bt{text-align:center; font-size:45px; padding-top:50px; padding-bottom:50px;}
.loan-note_con{width:100%; padding-bottom:50px;}
.loan-note-con .con-lf{height: 95px; width: 25%; height:120px; font-size: 40px; color:#0a7eed; margin: 1px 0px 20px 0px; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color:#ced2d9; position:relative; float:left;}
.con-lf-txt1{font-size:40px; color:#282f41; text-align: center; margin-top:10px;}
.loan-note-con .con-rt{height: 95px; width: 24%; height:120px; font-size: 40px; color:#0a7eed; margin: 1px 0px 15px 0px; text-align: center;  position:relative; float:left;}
.con-lf-txt2{font-size:40px; color:#f7a337; text-align: center; margin-top:10px;}

.agreement{ width: 100%; padding: 0; height: 140px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999; }
.agreement_ul{list-style:none;}
.agreement_ul_li1{ float: left; margin-left: 4%; margin-top: 45px; height: 62px; width: 49px; }
.agreement_ul_li2{ float: left; margin-left: 4%; font-size: 42px; color: #333; font-family: "Microsoft Yahei"; line-height: 140px; }
.agreement_ul_li2 a{ color: #333; font-family: "Microsoft Yahei"; text-decoration: none; }
.agreement_ul_li2 a:hover{color: #0a7eed; text-decoration: none; }
.agreement_ul_li3{ float:right; margin-top:50px; margin-right: 6%; }
.agreements{ width: 100%; padding: 0; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; height: 140px; background-color: #edf2f8; }
.agreements_ul_li1{ float: left; margin-left: 4%; margin-top: 45px; height: 62px; width: 49px; }
.agreements_ul_li2{ float: left; margin-left: 4%; font-size: 42px; color: #333; font-family: "Microsoft Yahei"; line-height: 140px; }
.agreements_ul_li3{ float:right; margin-top:50px; margin-right: 6%; }
.agreements_ul_li2 a{ color: #0a7eed; font-family: "Microsoft Yahei"; text-decoration: none; }
.agreements_ul_li2 a:hover{color: #0a7eed; text-decoration: none; }
.agreements_con{ width:100%; background-color:#edf2f8; padding-bottom: 40px;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999;  }
.agreements_con_bt{font-size: 42px; color: #f7a337; margin-left: 5%; line-height:110px; height:110px; padding-top:30px;}
.agreements_con_bt1{line-height:90px; height:90px; font-size: 42px; color: #f7a337; margin-left: 5%; float:left; padding-bottom:30px;}
.agreements_con_bt2{line-height:90px; height:90px; font-size: 42px; color: #f7a337; float:right; padding-bottom:30px;margin-right:10%;}
.agreements_con_txt{ background-color: #f8fafd; margin-top: 150px; border: 1px solid #d2d1d1; width: 89%; margin-right: auto; margin-left: auto; position: relative; }
.agreements_con_txt_bt{ margin-left: 4%; background-color: #E8AA32; width: 35%; position: absolute; top: -40px; border-radius: 15px; font-size: 40px; color: #FFF; padding-top: 18px; padding-bottom: 18px; text-align: center; padding-right: 30px; padding-left: 30px; }
.agreements_con_txt_con{ width:85%; margin:0 auto; padding-top: 90px; padding-bottom: 30px; }
.agreements_con_txt_con li{ font-size: 40px; font-family: "Microsoft Yahei"; color: #666; padding-top: 15px; padding-bottom: 15px; }

.btn{ width: 100%; margin-right: auto; margin-left: auto; height:150px; margin-top:20px; margin-bottom:0; position:fixed; bottom:0; left:0; right:0; z-index:100000;background-color:#fff;border-top:1px solid #d1d1d1;}
.btn1{ width: 35%; margin-top: 20px; margin-bottom: 20px; margin-left:10%; height: 110px; background-color: #0077eb; font-size: 40px; color: #fff; float: left; border-radius: 25px; line-height: 110px; text-align: center; }
.btn2{ width: 35%; margin-top: 20px; margin-bottom: 20px; margin-right:10%; height: 110px; background-color: #f7a337; font-size: 40px; color: #fff; float: right; border-radius: 25px; line-height: 110px; text-align: center; }

.ts{width:100%;height:150px;line-height:150px;text-align:center;font-size: 40px; color: #f7a337;}

/*search-login*/

.scr-login{ width: 80%; border-radius: 8px; border: 1px solid #2a95f5; background-color: #fff; clear: both; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; }
.scr-login_user{ width: 100%; height: 150px; border-bottom: 1px solid #d1d1d1; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; }
.scr-login_user_ul_li1{ float: left; margin-right: 3%; margin-left: 5%; margin-top:50px; }
.scr-login_user_ul_li2{ float: left; height: 90px; width:80%; margin-top: 26px; }
.scr-login-sec{width:85%; height:150px; margin:0 auto; margin-left:15%;}
.scr-login-sec .com-sec{ margin-top:65px; margin-right:25px; float:left;  }
.scr-login-sec .conblue { height:150px; line-height:150px; text-align:left; float:left; margin-right:20px; font-size:40px; color: #2a95f5;}
.scr-login_btn{ width: 80%; line-height: 100px; text-align: center; height: 100px; background-color: #0077EB; margin-right: auto; margin-left: auto; margin-top: 10px; margin-bottom: 80px; border-radius: 30px;  }
.scr-login_btn a{ display: block; background-color: #0077eb; font-size: 42px; color: #fff; border-radius: 30px; }
.scr-login_btn a:hover{ background-color: #e8aa32; font-size: 40px; color: #fff; border-radius: 20px; }
input {font-size:40px;  font-family:"微软雅黑"; box-shadow:none; -webkit-box-shadow:none; outline:none;}
input, input[type="password"], input[type="search"], textarea {
	-webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
::-webkit-input-placeholder { color:#6b6969; }
input:-moz-placeholder { color:#6b6969; }
input[type="checkbox"] {-webkit-appearance:checkbox; box-sizing:border-box; width:auto; border:none; vertical-align:middle;}
.login_text1{ font-family: "Microsoft Yahei"; font-size: 40px; line-height: 90px; color: #444; background-color:transparent; height: 90px; width: 70%; margin-right: auto; margin-left: auto; border: transparent; }














