<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.remind.persist.WmsCreCreditRepayHistoryDao">
    <!-- get entity by pk -->
    <select id="get" parameterType="int" resultType="WmsCreCreditRepayHistory">
        select wms_cre_credit_repay_history_id,
               wms_cre_credit_notary_warn_id,
               repay_history_code,
               repay_date,
               repay_principal,
               repay_no,
               track_handle_result,
               is_new,
               create_user_id,
               create_user_name,
               create_timestamp,
               last_update_user_id,
               last_update_timestamp,
               enable_flag,
               actual_repay_principal
          from wms_cre_credit_repay_history
         where wms_cre_credit_repay_history_id = #{wms_cre_credit_repay_history_id}
    </select>

    <!-- count num -->
    <select id="findCount" parameterType="map" resultType="int">
        select count(wms_cre_credit_repay_history_id) as count
          from wms_cre_credit_repay_history
        <where>
            <if test="wms_cre_credit_notary_warn_id != null">
                and wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
            </if>
            <if test="create_timestamp_month != null">
                and date_format(create_timestamp, '%Y%m') = #{create_timestamp_month}
            </if>
            <if test="is_new != null">
                and is_new = #{is_new}
            </if>
        </where>
    </select>

    <!-- list -->
    <select id="search" parameterType="map" resultType="java.util.HashMap">
        select wms_cre_credit_repay_history_id,
               wms_cre_credit_notary_warn_id,
               repay_history_code,
               ifnull(date_format(repay_date, '%Y-%m-%d'), '') as repay_date,
               IFNULL(round(repay_principal, 2), '') AS repay_principal,
               ifnull(repay_no, '') as repay_no,
               ifnull(track_handle_result, '') as track_handle_result,
               is_new,
               create_user_id,
               create_user_name,
               ifnull(date_format(create_timestamp, '%Y-%m-%d'), '') as create_timestamp,
               last_update_user_id,
               last_update_timestamp,
               enable_flag,
               actual_repay_principal
          from wms_cre_credit_repay_history
        <where>
             is_new !='1'
            <if test="wms_cre_credit_notary_warn_id != null">
                and wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
            </if>
            <if test="create_timestamp_month != null">
                and date_format(create_timestamp, '%Y%m') = #{create_timestamp_month}
            </if>
        </where>
        <if test="sortname != null and sortorder != null">
            ORDER BY ${sortname} ${sortorder}
        </if>
        <if test="offset != null and pagesize != null">
            LIMIT ${offset}, ${pagesize}
        </if>
    </select>

    <!-- save -->
    <insert id="save" parameterType="WmsCreCreditRepayHistory" useGeneratedKeys="true" keyProperty="wms_cre_credit_repay_history_id">
        INSERT INTO wms_cre_credit_repay_history (
            wms_cre_credit_repay_history_id,
            wms_cre_credit_notary_warn_id,
            repay_history_code,
            repay_date,
            repay_principal,
            repay_no,
            track_handle_result,
            is_new,
            create_user_id,
            create_user_name,
            create_timestamp,
            last_update_user_id,
            last_update_timestamp,
            enable_flag,
            actual_repay_principal
        )
        VALUES(
            #{wms_cre_credit_repay_history_id},
            #{wms_cre_credit_notary_warn_id},
            #{repay_history_code},
            #{repay_date},
            #{repay_principal},
            #{repay_no},
            #{track_handle_result},
            #{is_new},
            #{create_user_id},
            #{create_user_name},
            #{create_timestamp},
            #{last_update_user_id},
            #{last_update_timestamp},
            #{enable_flag},
            #{actual_repay_principal}
        )
    </insert>

    <!-- update -->
    <update id="update" parameterType="WmsCreCreditRepayHistory">
        update wms_cre_credit_repay_history
        <set>
            <if test="wms_cre_credit_repay_history_id != null">
                wms_cre_credit_repay_history_id = #{wms_cre_credit_repay_history_id},
            </if>
            <if test="wms_cre_credit_notary_warn_id != null">
                wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id},
            </if>
            <if test="repay_history_code != null">
                repay_history_code = #{repay_history_code},
            </if>
            <if test="repay_date != null">
                repay_date = #{repay_date},
            </if>
            <if test="repay_principal != null">
                repay_principal = #{repay_principal},
            </if>
            <if test="repay_no != null">
                repay_no = #{repay_no},
            </if>
            <if test="track_handle_result != null">
                track_handle_result = #{track_handle_result},
            </if>
            <if test="is_new != null">
                is_new = #{is_new},
            </if>
            <if test="create_user_id != null">
                create_user_id = #{create_user_id},
            </if>
            <if test="create_user_name != null">
                create_user_name = #{create_user_name},
            </if>
            <if test="create_timestamp != null">
                create_timestamp = #{create_timestamp},
            </if>
            <if test="last_update_user_id != null">
                last_update_user_id = #{last_update_user_id},
            </if>
            <if test="last_update_timestamp != null">
                last_update_timestamp = #{last_update_timestamp},
            </if>
            <if test="enable_flag != null">
                enable_flag = #{enable_flag},
            </if>
            <if test="actual_repay_principal != null">
                actual_repay_principal = #{actual_repay_principal},
            </if>
        </set>
        <where>
        	<if test="wms_cre_credit_repay_history_id != null">
	        	wms_cre_credit_repay_history_id = #{wms_cre_credit_repay_history_id}
        	</if>
        	<if test="wms_cre_credit_notary_warn_id != null">
	        	wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
        	</if>
        </where>
    </update>

    <!-- getListByEntity -->
    <select id="getListByEntity" parameterType="WmsCreCreditRepayHistory" resultType="WmsCreCreditRepayHistory">
        select wms_cre_credit_repay_history_id,
               wms_cre_credit_notary_warn_id,
               repay_history_code,
               repay_date,
<!--                repay_principal, -->
               IFNULL(REPLACE(FORMAT(repay_principal, 2), ',', ''), '') AS repay_principal,
               repay_no,
               track_handle_result,
               is_new,
               create_user_id,
               create_user_name,
               create_timestamp,
               last_update_user_id,
               last_update_timestamp,
               enable_flag,
               actual_repay_principal
          from wms_cre_credit_repay_history
        <where>
       			 is_new !='1'
            <if test="wms_cre_credit_repay_history_id != null">
                and wms_cre_credit_repay_history_id = #{wms_cre_credit_repay_history_id}
            </if>
            <if test="wms_cre_credit_notary_warn_id != null">
                and wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
            </if>
            <if test="repay_history_code != null">
                and repay_history_code = #{repay_history_code}
            </if>
            <if test="repay_date != null">
                and repay_date = #{repay_date}
            </if>
            <if test="repay_principal != null">
                and repay_principal = #{repay_principal}
            </if>
            <if test="repay_no != null">
                and repay_no = #{repay_no}
            </if>
            <if test="track_handle_result != null">
                and track_handle_result = #{track_handle_result}
            </if>
            <if test="is_new != null">
                and is_new = #{is_new}
            </if>
            <if test="create_user_id != null">
                and create_user_id = #{create_user_id}
            </if>
            <if test="create_user_name != null">
                and create_user_name = #{create_user_name}
            </if>
            <if test="create_timestamp != null">
                and create_timestamp = #{create_timestamp}
            </if>
            <if test="last_update_user_id != null">
                and last_update_user_id = #{last_update_user_id}
            </if>
            <if test="last_update_timestamp != null">
                and last_update_timestamp = #{last_update_timestamp}
            </if>
            <if test="enable_flag != null">
                and enable_flag = #{enable_flag}
            </if>
             <if test="actual_repay_principal != null">
                and actual_repay_principal = #{actual_repay_principal}
            </if>
        </where>
    </select>
    
    <!-- 还款提醒信息修改初始化 -->
    <select id="editRepaymentInfoDisp" parameterType="map" resultType="map">
    	select ifnull(ifnull(t1.send_message_number, t1.mobile_telephone), '') as send_message_number,
			   replace(ifnull(format(t2.repay_principal, 2), ''), ',' ,'') as repay_principal,
		       ifnull(ifnull(t2.track_handle_result, t3.track_handle_result), '') as track_handle_result 
		  from wms_cre_credit_notary_warn t1 
	 left join wms_cre_credit_repay_history t2 
	        on t1.wms_cre_credit_notary_warn_id = t2.wms_cre_credit_notary_warn_id 
	       and t2.is_new = '1' 
	       and t2.enable_flag = '1'
	 left join (select a.wms_cre_credit_notary_warn_id, 
				       a.track_handle_result 
				  from wms_cre_credit_repay_history a 
				 where a.wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
				   and a.enable_flag = '1' and a.create_timestamp &lt; concat(date_add(curdate(),interval - day(curdate()) + 1 day), ' 00:00:00') 
			  order by a.wms_cre_credit_repay_history_id desc limit 0, 1) t3 
		    on t1.wms_cre_credit_notary_warn_id = t3.wms_cre_credit_notary_warn_id
		 where t1.wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
    </select>
    
    <!-- 还款序号生成 -->
	<select id="getRepayHistoryCode" parameterType="map" resultType="String">
        select CONCAT('HK', DATE_FORMAT(#{now_time}, '%Y%m%d'), 
       (select LPAD(count(wms_cre_credit_repay_history_id) + 1, 6, 0) 
          from wms_cre_credit_repay_history 
         where DATE_FORMAT(create_timestamp, '%Y%m%d') = #{now_time}))
	</select>
	
	
     <select id="forIsnewGetRepayPrincipal" parameterType="int" resultType="WmsCreCreditRepayHistory">
        select wms_cre_credit_repay_history_id,
               wms_cre_credit_notary_warn_id,
               repay_history_code,
               repay_date,
<!--                repay_principal, -->
               IFNULL(round(repay_principal, 2), '') AS repay_principal,
               repay_no,
               track_handle_result,
               is_new,
               create_user_id,
               create_user_name,
               create_timestamp,
               last_update_user_id,
               last_update_timestamp,
               enable_flag,
               actual_repay_principal
          from wms_cre_credit_repay_history
       where
       		enable_flag='1'
       and
       		is_new='1'
       and
        	wms_cre_credit_notary_warn_id=#{wms_cre_credit_notary_warn_id}
     </select>
     
     <select id="getHistoryCount" parameterType="int" resultType="int">
         select 
         	count(wms_cre_credit_repay_history_id)
         from
         	wms_cre_credit_repay_history
         where
       		enable_flag='1'
       	 and
       		is_new='1'
       	 and
        	wms_cre_credit_notary_warn_id=#{wms_cre_credit_notary_warn_id}
     </select>
     
     
      <!-- update -->
    <update id="updateInfoForIsNew" parameterType="WmsCreCreditRepayHistory">
        update wms_cre_credit_repay_history
        <set>
            <if test="wms_cre_credit_repay_history_id != null">
                wms_cre_credit_repay_history_id = #{wms_cre_credit_repay_history_id},
            </if>
            <if test="wms_cre_credit_notary_warn_id != null">
                wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id},
            </if>
            <if test="repay_history_code != null">
                repay_history_code = #{repay_history_code},
            </if>
            <if test="repay_date != null">
                repay_date = #{repay_date},
            </if>
            <if test="repay_principal != null">
                repay_principal = #{repay_principal},
            </if>
            <if test="repay_no != null">
                repay_no = #{repay_no},
            </if>
            <if test="track_handle_result != null">
                track_handle_result = #{track_handle_result},
            </if>
            <if test="is_new != null">
                is_new = #{is_new},
            </if>
            <if test="create_user_id != null">
                create_user_id = #{create_user_id},
            </if>
            <if test="create_user_name != null">
                create_user_name = #{create_user_name},
            </if>
            <if test="create_timestamp != null">
                create_timestamp = #{create_timestamp},
            </if>
            <if test="last_update_user_id != null">
                last_update_user_id = #{last_update_user_id},
            </if>
            <if test="last_update_timestamp != null">
                last_update_timestamp = #{last_update_timestamp},
            </if>
            <if test="enable_flag != null">
                enable_flag = #{enable_flag},
            </if>
            <if test="actual_repay_principal != null">
                actual_repay_principal = #{actual_repay_principal},
            </if>
        </set>
        <where>
                is_new ='1'
        	and
        		 wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id}
        </where>
    </update>
    <!-- get entity by pk -->
    <select id="getRepayHistory" parameterType="int" resultType="WmsCreCreditRepayHistory">
        select wms_cre_credit_repay_history_id,
               wms_cre_credit_notary_warn_id,
               repay_history_code,
               repay_date,
               repay_principal,
               repay_no,
               track_handle_result,
               is_new,
               create_user_id,
               create_user_name,
               create_timestamp,
               last_update_user_id,
               last_update_timestamp,
               enable_flag,
               actual_repay_principal
          from wms_cre_credit_repay_history
         where wms_cre_credit_notary_warn_id = #{wms_cre_credit_notary_warn_id} and is_new=1 and enable_flag=1
    </select>
    
    
     <select id="searchPrincipal" parameterType="int" resultType="String">
		select 
			refund_limit_month
		from
			v_notary_warn
		where
			Wms_cre_credit_notary_warn_id = #{Wms_cre_credit_notary_warn_id}
    </select>
    
    
    
</mapper>