<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.cremanage.persist.WmsCreCustomerChangeLineHouseinfoDao">
	<insert id="addNewRecord" parameterType="WmsCreCustomerChangeLineHouseinfo" useGeneratedKeys="true" keyProperty="wms_cre_customer_change_line_houseinfo_id">

		insert into
		wms_cre_customer_change_line_houseinfo
		(
		wms_cre_customer_change_line_houseinfo_id,
		house_buy_date,
		house_buy_money,
		house_building_area,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		create_timestamp,
		last_update_user_id,
		last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		houses_number,
		city,
		is_compound,
		house_age,
		house_remark
		)
		values(
		#{wms_cre_customer_change_line_houseinfo_id},
		#{house_buy_date},
		#{house_buy_money},
		#{house_building_area},
		#{house_address_province},
		#{house_address_city},
		#{house_address_district},
		#{house_address_more},
		#{house_post_code},
		#{wms_cre_credit_line_customer_change_head_id},
		#{create_user_id},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag},
		#{house_address_street},
		#{is_supp_house_card},
		#{house_type},
		#{house_no},
		#{house_vol_no},
		#{community_name},
		#{houses_number},
		#{city},
		#{is_compound},
		#{house_age},
		#{house_remark}
		)
	</insert>

	<update id="update" parameterType="WmsCreCustomerChangeLineHouseinfo">
		update wms_cre_customer_change_line_houseinfo
		<set>
			<if test="wms_cre_customer_change_line_houseinfo_id != null">
				wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id},
			</if>
			<if test="house_buy_date != null">
				house_buy_date = #{house_buy_date},
			</if>
			<if test="house_buy_money != null">
				house_buy_money = #{house_buy_money},
			</if>
			<if test="house_building_area != null">
				house_building_area = #{house_building_area},
			</if>
			<if test="house_address_province != null">
				house_address_province = #{house_address_province},
			</if>
			<if test="house_address_city != null">
				house_address_city = #{house_address_city},
			</if>
			<if test="house_address_district != null">
				house_address_district = #{house_address_district},
			</if>
			<if test="house_address_more != null">
				house_address_more = #{house_address_more},
			</if>
			<if test="house_post_code != null">
				house_post_code = #{house_post_code},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="create_user_id != null">
				create_user_id = #{create_user_id},
			</if>
			<if test="create_timestamp != null">
				create_timestamp = #{create_timestamp},
			</if>
			<if test="last_update_user_id != null">
				last_update_user_id = #{last_update_user_id},
			</if>
			<if test="last_update_timestamp != null">
				last_update_timestamp = #{last_update_timestamp},
			</if>
			<if test="enable_flag != null">
				enable_flag = #{enable_flag},
			</if>
			<if test="house_address_street != null">
				house_address_street = #{house_address_street},
			</if>
			<if test="is_supp_house_card != null">
				is_supp_house_card = #{is_supp_house_card},
			</if>
			<if test="house_type != null">
				house_type = #{house_type},
			</if>
			<if test="house_no != null">
				house_no = #{house_no},
			</if>
			<if test="house_vol_no != null">
				house_vol_no = #{house_vol_no},
			</if>
			<if test="community_name != null">
				community_name = #{community_name},
			</if>
			<if test="houses_number != null">
				houses_number = #{houses_number},
			</if>
			<if test="is_compound != null">
				is_compound = #{is_compound},
			</if>
			<if test="house_age != null">
				house_age = #{house_age},
			</if>
			<if test="house_remark != null">
				house_remark = #{house_remark},
			</if>
		</set>
		where wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id}
	</update>

	<insert id="addNewRecordReKey" parameterType="WmsCreCustomerChangeLineHouseinfo" useGeneratedKeys="true" keyProperty="wms_cre_customer_change_line_houseinfo_id">
		insert into
		wms_cre_customer_change_line_houseinfo
		(
		wms_cre_customer_change_line_houseinfo_id,
		house_buy_date,
		house_buy_money,
		house_building_area,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		create_timestamp,
		last_update_user_id,
		last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		is_compound,
		house_age,
		house_remark,
		houses_number,
		city
		)
		values(
		#{wms_cre_customer_change_line_houseinfo_id},
		#{house_buy_date},
		#{house_buy_money},
		#{house_building_area},
		#{house_address_province},
		#{house_address_city},
		#{house_address_district},
		#{house_address_more},
		#{house_post_code},
		#{wms_cre_credit_line_customer_change_head_id},
		#{create_user_id},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag},
		#{house_address_street},
		#{is_supp_house_card},
		#{house_type},
		#{house_no},
		#{house_vol_no},
		#{community_name},
		#{is_compound},
		#{house_age},
		#{house_remark},
		#{houses_number},
		#{city}
		)
	</insert>
	<!-- 查询WmsCreCustomerChangeLineWorkinfo ，返回List<Map>对象，如果返回类型不为SysUser对象集合，需要在自己的接口中重新进行定义 -->
	<select id="search" parameterType="map" resultType="java.util.Map">
		select
		wms_cre_customer_change_line_houseinfo_id,
		date_format(house_buy_date,'%Y-%m-%d') as house_buy_date,
		house_buy_money,
		house_building_area,
		houses_number,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		house_age,
		house_remark,
		is_compound
		from wms_cre_customer_change_line_houseinfo
		<where>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="wms_cre_customer_change_line_houseinfo_id != null">
				wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id}
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
	</select>
	<delete id="deleteByMap" parameterType="map">
		delete from wms_cre_customer_change_line_houseinfo
		<where>
			<if test="dltIDArr !=null">
				and wms_cre_credit_line_customer_change_head_id in
				<foreach collection="dltIDArr" item="wms_cre_credit_line_customer_change_head_id" index="index" open="(" separator="," close=")">
					#{wms_cre_credit_line_customer_change_head_id}
				</foreach>
			</if>
		</where>
	</delete>
	<select id="searchformortgage" parameterType="int" resultType="java.util.Map">
		select
		f.wms_cre_customer_change_line_houseinfo_id,
		date_format(f.house_buy_date,'%Y-%m-%d') as house_buy_date,
		f.house_buy_money,
		function_format_number(ifnull(f.house_building_area,0)) as house_building_area,
		f.house_address_province,
		f.house_address_city,
		f.house_address_district,
		f.house_address_more,
		f.house_post_code,
		f.create_user_id,
		date_format(f.create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp,
		f.last_update_user_id,
		date_format(f.last_update_timestamp,'%Y-%m-%d %H:%i:%s') as
		last_update_timestamp,
		f.enable_flag,
		f.house_address_street,
		f.is_supp_house_card,
		f.house_type,
		f.house_no,
		f.house_vol_no,
		f.community_name,
		d.credit_limit,
		d.appro_limit,
		d.visa_limit,
		d.wms_cre_credit_head_id,
		(SELECT transaction_price from wms_cre_housing_assessment where wms_cre_credit_head_id=h.wms_cre_credit_head_id ) as transaction_price
		<!-- 2016/4/13 因为房贷房产信息非必填导致 from wms_cre_customer_change_line_houseinfo f,wms_cre_housing_customer_house h, -->
		from wms_cre_credit_head d
		left join wms_cre_housing_customer_house h on h.wms_cre_credit_head_id = d.wms_cre_credit_head_id
		left join wms_cre_customer_change_line_houseinfo f on f.wms_cre_customer_change_line_houseinfo_id = (select wms_cre_customer_change_line_houseinfo_id from v_customer_houseinfo where wms_cre_credit_line_customer_change_head_id=(select wms_cre_credit_line_customer_change_head_id
		from wms_cre_credit_line_customer_change_head where
		wms_cre_credit_head_id=#{wms_cre_credit_head_id} and is_major=1) GROUP BY wms_cre_credit_line_customer_change_head_id ) and f.enable_flag=1
		<where>
			d.enable_flag=1
			<!-- and h.wms_cre_credit_head_id=d.wms_cre_credit_head_id -->
			and d.wms_cre_credit_head_id =#{wms_cre_credit_head_id}
			<!-- and f.wms_cre_customer_change_line_houseinfo_id=h.wms_cre_customer_change_line_houseinfo_id -->
		</where>
	</select>

	<!-- 房产初评初始化信息 -->
	<select id="searchHCHBYMccid" parameterType="map" resultType="java.util.HashMap">
		select m1.id,
		m1.wms_cre_credit_head_id,
		m1.wms_cre_customer_change_line_houseinfo_id,
		m1.house_use,
		m1.create_user_id,
		m1.create_user_name,
		date_format(m1.create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		m1.last_update_user_id,
		m2.house_buy_date,
		m2.house_buy_money,
		m2.house_building_area,
		m2.house_address_province,
		m2.house_address_city,
		m2.house_address_district,
		m2.house_address_street,
		m2.house_address_more,
		m2.house_type,
		m2.house_no,
		m2.house_vol_no,
		m2.community_name,
		m2.houses_number,
		m3.customer_age,
		m3.mobile_telephone1,
		m2.house_age,
		m2.house_remark,
		m2.is_compound,
		m2.city,
		m4.credit_limit,
		m4.max_repayment_time_limit
		from wms_cre_housing_customer_house m1,
		wms_cre_customer_change_line_houseinfo m2,
		wms_cre_credit_line_customer_change_head m3,
		wms_cre_credit_head m4
		<where>
			m1.wms_cre_customer_change_line_houseinfo_id = m2.wms_cre_customer_change_line_houseinfo_id
			and m1.wms_cre_credit_head_id = m3.wms_cre_credit_head_id
			and m1. wms_cre_credit_head_id = m4.wms_cre_credit_head_id
			and m3.is_major = 1
			<if test="wms_cre_credit_head_id != null">
				and m1.wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
		</where>
	</select>

	<!-- 移动端第二版申请补录 -->
	<update id="updateforBLTwo" parameterType="map">
		update wms_cre_customer_change_line_houseinfo
		<set>
			<if test="wms_cre_customer_change_line_houseinfo_id != null">
				wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id},
			</if>
			<if test="house_buy_date != null">
				house_buy_date = #{house_buy_date},
			</if>
			<if test="house_buy_money != null">
				house_buy_money = #{house_buy_money},
			</if>
			<if test="house_building_area != null">
				house_building_area = #{house_building_area},
			</if>
			<if test="house_address_province != null">
				house_address_province = #{house_address_province},
			</if>
			<if test="house_address_city != null">
				house_address_city = #{house_address_city},
			</if>
			<if test="house_address_district != null">
				house_address_district = #{house_address_district},
			</if>
			<if test="house_address_more != null">
				house_address_more = #{house_address_more},
			</if>
			<if test="house_post_code != null">
				house_post_code = #{house_post_code},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="create_user_id != null">
				create_user_id = #{create_user_id},
			</if>
			<if test="create_timestamp != null">
				create_timestamp = #{create_timestamp},
			</if>
			<if test="last_update_user_id != null">
				last_update_user_id = #{last_update_user_id},
			</if>
			<if test="last_update_timestamp != null">
				last_update_timestamp = #{last_update_timestamp},
			</if>
			<if test="enable_flag != null">
				enable_flag = #{enable_flag},
			</if>
			<if test="house_address_street != null">
				house_address_street = #{house_address_street},
			</if>
			<if test="is_supp_house_card != null">
				is_supp_house_card = #{is_supp_house_card},
			</if>
			<if test="house_type != null">
				house_type = #{house_type},
			</if>
			<if test="house_no != null">
				house_no = #{house_no},
			</if>
			<if test="house_vol_no != null">
				house_vol_no = #{house_vol_no},
			</if>
			<if test="community_name != null">
				community_name = #{community_name},
			</if>
			<if test="houses_number != null">
				houses_number = #{houses_number},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="is_compound != null">
				is_compound = #{is_compound},
			</if>
			<if test="house_age != null">
				house_age = #{house_age},
			</if>
			<if test="house_remark != null">
				house_remark = #{house_remark},
			</if>
		</set>
		<where>
			<if test="is_major != null and wms_cre_credit_head_id != null">
				wms_cre_credit_line_customer_change_head_id=(SELECT wms_cre_credit_line_customer_change_head_id from wms_cre_credit_line_customer_change_head where wms_cre_credit_head_id = #{wms_cre_credit_head_id} and is_major = #{is_major})
			</if>
		</where>
	</update>
	<!-- save -->
	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO wms_cre_customer_change_line_houseinfo
		(
		wms_cre_customer_change_line_houseinfo_id,
		house_buy_date,
		house_buy_money,
		house_building_area,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		create_timestamp,
		last_update_user_id,
		last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		houses_number,
		city,
		is_compound,
		house_age,
		house_remark
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(

			#{item.wms_cre_customer_change_line_houseinfo_id},
			#{item.house_buy_date},
			#{item.house_buy_money},
			#{item.house_building_area},
			#{item.house_address_province},
			#{item.house_address_city},
			#{item.house_address_district},
			#{item.house_address_more},
			#{item.house_post_code},
			#{item.wms_cre_credit_line_customer_change_head_id},
			#{item.create_user_id},
			#{item.create_timestamp},
			#{item.last_update_user_id},
			#{item.last_update_timestamp},
			#{item.enable_flag},
			#{item.house_address_street},
			#{item.is_supp_house_card},
			#{item.house_type},
			#{item.house_no},
			#{item.house_vol_no},
			#{item.community_name},
			#{item.houses_number},
			#{item.city},
			#{item.is_compound},
			#{item.house_age},
			#{item.house_remark}
			)
		</foreach>
	</insert>
	<!-- 获取表信息 -->
	<select id="getCopyInfo" parameterType="Integer" resultType="WmsCreCustomerChangeLineHouseinfo">
		select *
		from wms_cre_customer_change_line_houseinfo
		where
		wms_cre_credit_line_customer_change_head_id=#{id}
	</select>



	<select id="getInfoForCustomerId" parameterType="int" resultType="WmsCreCustomerChangeLineHouseinfo">
		select
		wms_cre_customer_change_line_houseinfo_id,
		date_format(house_buy_date,'%Y-%m-%d') as house_buy_date,
		house_buy_money,
		house_building_area,
		houses_number,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		house_age,
		house_remark,
		is_compound,
		city
		from wms_cre_customer_change_line_houseinfo
		where
		wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id}
	</select>

	<insert id="save" parameterType="WmsCreCustomerChangeLineHouseinfo">
		INSERT INTO wms_cre_customer_change_line_houseinfo
		(
		wms_cre_customer_change_line_houseinfo_id,
		house_buy_date,
		house_buy_money,
		house_building_area,
		house_address_province,
		house_address_city,
		house_address_district,
		house_address_more,
		house_post_code,
		wms_cre_credit_line_customer_change_head_id,
		create_user_id,
		create_timestamp,
		last_update_user_id,
		last_update_timestamp,
		enable_flag,
		house_address_street,
		is_supp_house_card,
		house_type,
		house_no,
		house_vol_no,
		community_name,
		houses_number,
		city,
		is_compound,
		house_age,
		house_remark
		)
		VALUES
		(
		#{wms_cre_customer_change_line_houseinfo_id},
		#{house_buy_date},
		#{house_buy_money},
		#{house_building_area},
		#{house_address_province},
		#{house_address_city},
		#{house_address_district},
		#{house_address_more},
		#{house_post_code},
		#{wms_cre_credit_line_customer_change_head_id},
		#{create_user_id},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag},
		#{house_address_street},
		#{is_supp_house_card},
		#{house_type},
		#{house_no},
		#{house_vol_no},
		#{community_name},
		#{houses_number},
		#{city},
		#{is_compound},
		#{house_age},
		#{house_remark}
		)
	</insert>

	<select id="checkIsClaim" parameterType="int" resultType="Integer">
		SELECT IFNULL((SELECT is_claim FROM wms_cre_customer_change_line_houseinfo WHERE wms_cre_customer_change_line_houseinfo_id = (SELECT wms_cre_customer_change_line_houseinfo_id FROM wms_cre_housing_customer_house WHERE wms_cre_credit_head_id = #{wms_cre_credit_head_id}) ),0) AS is_claim
	</select>

	<update id="ClaimOperUp" parameterType="map">
		UPDATE wms_cre_customer_change_line_houseinfo
		<set>
			is_claim=#{is_claim},
			claim_user_id=#{claim_user_id}
		</set>
		WHERE wms_cre_customer_change_line_houseinfo_id = (SELECT wms_cre_customer_change_line_houseinfo_id FROM wms_cre_housing_customer_house WHERE wms_cre_credit_head_id = #{wms_cre_credit_head_id})
	</update>
</mapper> 
