<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.cremanage.persist.WmsCreCarpHousingCustomerInfoDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsCreCarpHousingCustomerInfo">
		select
        				wms_cre_carp_housing_customer_info_id,
        				wms_cre_credit_head_id,
        				wms_cre_customer_change_line_houseinfo_id,
        				house_situation,
        				house_type,
        				built_area,
        				is_house_loan,
        				house_address_province,
        				house_address_city,
        				house_address_area,
        				house_address_other,
        				create_user_id,
						date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
        				create_timestamp,
        				last_update_user_id,
						date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
        				last_update_timestamp,
        				enable_flag
        	from
        		wms_cre_carp_housing_customer_info
        	where
        				wms_cre_carp_housing_customer_info_id = #{wms_cre_carp_housing_customer_info_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_carp_housing_customer_info_id) as count
		from wms_cre_carp_housing_customer_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_cre_carp_housing_customer_info_id,
				wms_cre_credit_head_id,
				wms_cre_customer_change_line_houseinfo_id,
				house_situation,
				house_type,
				built_area,
				is_house_loan,
				house_address_province,
				house_address_city,
				house_address_area,
				house_address_other,
				create_user_id,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				last_update_user_id,
				date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
				last_update_timestamp,
				enable_flag
		from wms_cre_carp_housing_customer_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreCarpHousingCustomerInfo" useGeneratedKeys="true" keyProperty="wms_cre_carp_housing_customer_info_id">
		INSERT INTO wms_cre_carp_housing_customer_info
		(
				wms_cre_carp_housing_customer_info_id,

				wms_cre_credit_head_id,

				wms_cre_customer_change_line_houseinfo_id,

				house_situation,

				house_type,

				built_area,

				is_house_loan,

				house_address_province,

				house_address_city,

				house_address_area,

				house_address_other,

				create_user_id,

				create_timestamp,

				last_update_user_id,

				last_update_timestamp,

				enable_flag
		)
		VALUES
		(
				#{wms_cre_carp_housing_customer_info_id},
				#{wms_cre_credit_head_id},
				#{wms_cre_customer_change_line_houseinfo_id},
				#{house_situation},
				#{house_type},
				#{built_area},
				#{is_house_loan},
				#{house_address_province},
				#{house_address_city},
				#{house_address_area},
				#{house_address_other},
				#{create_user_id},
				#{create_timestamp},
				#{last_update_user_id},
				#{last_update_timestamp},
				#{enable_flag}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreCarpHousingCustomerInfo">
		update wms_cre_carp_housing_customer_info
		<set>
					<if test="wms_cre_carp_housing_customer_info_id != null">
						 wms_cre_carp_housing_customer_info_id = #{wms_cre_carp_housing_customer_info_id},
					</if>
					<if test="wms_cre_credit_head_id != null">
						 wms_cre_credit_head_id = #{wms_cre_credit_head_id},
					</if>
					<if test="wms_cre_customer_change_line_houseinfo_id != null">
						 wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id},
					</if>
					<if test="house_situation != null">
						 house_situation = #{house_situation},
					</if>
					<if test="house_type != null">
						 house_type = #{house_type},
					</if>
					<if test="built_area != null">
						 built_area = #{built_area},
					</if>
					<if test="is_house_loan != null">
						 is_house_loan = #{is_house_loan},
					</if>
					<if test="house_address_province != null">
						 house_address_province = #{house_address_province},
					</if>
					<if test="house_address_city != null">
						 house_address_city = #{house_address_city},
					</if>
					<if test="house_address_area != null">
						 house_address_area = #{house_address_area},
					</if>
					<if test="house_address_other != null">
						 house_address_other = #{house_address_other},
					</if>
					<if test="create_user_id != null">
						 create_user_id = #{create_user_id},
					</if>
					<if test="create_timestamp != null">
						 create_timestamp = #{create_timestamp},
					</if>
					<if test="last_update_user_id != null">
						 last_update_user_id = #{last_update_user_id},
					</if>
					<if test="last_update_timestamp != null">
						 last_update_timestamp = #{last_update_timestamp},
					</if>
					<if test="enable_flag != null">
						 enable_flag = #{enable_flag},
					</if>
	   </set>
		 where 
    				wms_cre_carp_housing_customer_info_id = #{wms_cre_carp_housing_customer_info_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreCarpHousingCustomerInfo" resultType="WmsCreCarpHousingCustomerInfo">
		select 
				wms_cre_carp_housing_customer_info_id,
				wms_cre_credit_head_id,
				wms_cre_customer_change_line_houseinfo_id,
				house_situation,
				house_type,
				built_area,
				is_house_loan,
				house_address_province,
				house_address_city,
				house_address_area,
				house_address_other,
				create_user_id,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				last_update_user_id,
				date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
				last_update_timestamp,
				enable_flag
		from
		wms_cre_carp_housing_customer_info
		<where>
					<if test="wms_cre_carp_housing_customer_info_id != null">
						and wms_cre_carp_housing_customer_info_id = #{wms_cre_carp_housing_customer_info_id}
					</if>
					<if test="wms_cre_credit_head_id != null">
						and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
					</if>
					<if test="wms_cre_customer_change_line_houseinfo_id != null">
						and wms_cre_customer_change_line_houseinfo_id = #{wms_cre_customer_change_line_houseinfo_id}
					</if>
					<if test="house_situation != null">
						and house_situation = #{house_situation}
					</if>
					<if test="house_type != null">
						and house_type = #{house_type}
					</if>
					<if test="built_area != null">
						and built_area = #{built_area}
					</if>
					<if test="is_house_loan != null">
						and is_house_loan = #{is_house_loan}
					</if>
					<if test="house_address_province != null">
						and house_address_province = #{house_address_province}
					</if>
					<if test="house_address_city != null">
						and house_address_city = #{house_address_city}
					</if>
					<if test="house_address_area != null">
						and house_address_area = #{house_address_area}
					</if>
					<if test="house_address_other != null">
						and house_address_other = #{house_address_other}
					</if>
					<if test="create_user_id != null">
						and create_user_id = #{create_user_id}
					</if>
					<if test="create_timestamp != null">
						and create_timestamp = #{create_timestamp}
					</if>
					<if test="last_update_user_id != null">
						and last_update_user_id = #{last_update_user_id}
					</if>
					<if test="last_update_timestamp != null">
						and last_update_timestamp = #{last_update_timestamp}
					</if>
					<if test="enable_flag != null">
						and enable_flag = #{enable_flag}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_cre_carp_housing_customer_info_id != #{wms_cre_carp_housing_customer_info_id}
					</if>
		</where>
	</select>
	<!-- 车贷抵押房产信息 -->
	<select id="searchCarHBYMccid" parameterType="map" resultType="java.util.HashMap">
		select
		m1.wms_cre_carp_housing_customer_info_id,
		m1.wms_cre_credit_head_id,
		m1.wms_cre_customer_change_line_houseinfo_id,
		m1.house_situation,
		m1.built_area,
		m1.is_house_loan,
		m1.create_user_id,
		m1.create_timestamp,
		date_format(m1.create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		m1.last_update_user_id,
		m1.last_update_timestamp,
		date_format(m1.last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		m2.house_buy_date,
		m2.house_buy_money,
		m2.house_building_area,
		m2.house_address_province,
		m2.house_address_city,
		m2.house_address_district,
		m2.house_address_street,
		m2.house_address_more,
		m2.house_type,
		m2.house_no,
		m2.house_vol_no,
		m2.community_name
		from wms_cre_carp_housing_customer_info m1, wms_cre_customer_change_line_houseinfo m2
		<where>
			m1.wms_cre_customer_change_line_houseinfo_id=m2.wms_cre_customer_change_line_houseinfo_id
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id=#{wms_cre_credit_head_id}
			</if>
		</where>
	</select>
	<delete id="deleteByMap" parameterType="map">
		delete from wms_cre_carp_housing_customer_info
		<where>
			<if test="dltIDArr !=null">
				and wms_cre_credit_head_id in
				<foreach collection="dltIDArr" item="wms_cre_credit_head_id"
					index="index" open="(" separator="," close=")">
					#{wms_cre_credit_head_id}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 更新用户的房产归属和是否有贷款 -->
	<update id="updateHouseSituationAndIsHouseLoan" parameterType="WmsCreCarpHousingCustomerInfo">
		update wms_cre_carp_housing_customer_info
		<set>
					<if test="house_situation != null">
						 house_situation = #{house_situation},
					</if>
					<if test="is_house_loan != null">
						 is_house_loan = #{is_house_loan},
					</if>
	   </set>
		 where 
    				wms_cre_credit_head_id = #{wms_cre_credit_head_id}
	</update>
</mapper> 
