<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper
	namespace="com.zx.emanage.cremanage.persist.WmsCreCustomerChangeLineCompanyDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreCustomerChangeLineCompany">
		select
		wms_cre_customer_change_line_company_id,
		wms_cre_credit_line_customer_change_head_id,
		comp_full_name,
		comp_tel,
		compt_address_province,
		comp_address_city,
		comp_address_district,
		comp_address_more,
		date_format(found_date,'%Y-%m-%d') as found_date_str,
		found_date,
		comp_kind,
		place_of_comp,
		comp_industry,
		create_user_id,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_customer_change_line_company
		where
		wms_cre_customer_change_line_company_id = #{wms_cre_customer_change_line_company_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_customer_change_line_company_id) as count
		from
		wms_cre_customer_change_line_company
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_customer_change_line_company_id,
		wms_cre_credit_line_customer_change_head_id,
		comp_full_name,
		comp_tel,
		compt_address_province,
		comp_address_city,
		comp_address_district,
		comp_address_more,
		date_format(found_date,'%Y-%m-%d') as found_date_str,
		found_date,
		comp_kind,
		place_of_comp,
		comp_industry,
		create_user_id,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_customer_change_line_company
		<where>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id=#{wms_cre_credit_line_customer_change_head_id}
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreCustomerChangeLineCompany"
		useGeneratedKeys="true" keyProperty="wms_cre_customer_change_line_company_id">
		INSERT INTO
		wms_cre_customer_change_line_company
		(
		wms_cre_customer_change_line_company_id,

		wms_cre_credit_line_customer_change_head_id,

		comp_full_name,

		comp_tel,

		compt_address_province,

		comp_address_city,

		comp_address_district,

		comp_address_more,

		found_date,

		comp_kind,

		place_of_comp,

		comp_industry,

		create_user_id,

		create_timestamp,

		last_update_user_id,

		last_update_timestamp,

		enable_flag
		)
		VALUES
		(
		#{wms_cre_customer_change_line_company_id},
		#{wms_cre_credit_line_customer_change_head_id},
		#{comp_full_name},
		#{comp_tel},
		#{compt_address_province},
		#{comp_address_city},
		#{comp_address_district},
		#{comp_address_more},
		#{found_date},
		#{comp_kind},
		#{place_of_comp},
		#{comp_industry},
		#{create_user_id},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreCustomerChangeLineCompany">
		update wms_cre_customer_change_line_company
		<set>
			<if test="wms_cre_customer_change_line_company_id != null">
				wms_cre_customer_change_line_company_id = #{wms_cre_customer_change_line_company_id},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="comp_full_name != null">
				comp_full_name = #{comp_full_name},
			</if>
			<if test="comp_tel != null">
				comp_tel = #{comp_tel},
			</if>
			<if test="compt_address_province != null">
				compt_address_province = #{compt_address_province},
			</if>
			<if test="comp_address_city != null">
				comp_address_city = #{comp_address_city},
			</if>
			<if test="comp_address_district != null">
				comp_address_district = #{comp_address_district},
			</if>
			<if test="comp_address_more != null">
				comp_address_more = #{comp_address_more},
			</if>
			<if test="found_date != null">
				found_date = #{found_date},
			</if>
			<if test="comp_kind != null">
				comp_kind = #{comp_kind},
			</if>
			<if test="place_of_comp != null">
				place_of_comp = #{place_of_comp},
			</if>
			<if test="comp_industry != null">
				comp_industry = #{comp_industry},
			</if>
			<if test="create_user_id != null">
				create_user_id = #{create_user_id},
			</if>
			<if test="create_timestamp != null">
				create_timestamp = #{create_timestamp},
			</if>
			<if test="last_update_user_id != null">
				last_update_user_id = #{last_update_user_id},
			</if>
			<if test="last_update_timestamp != null">
				last_update_timestamp = #{last_update_timestamp},
			</if>
			<if test="enable_flag != null">
				enable_flag = #{enable_flag},
			</if>
		</set>
		where
		wms_cre_customer_change_line_company_id = #{wms_cre_customer_change_line_company_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreCustomerChangeLineCompany"
		resultType="WmsCreCustomerChangeLineCompany">
		select
		wms_cre_customer_change_line_company_id,
		wms_cre_credit_line_customer_change_head_id,
		comp_full_name,
		comp_tel,
		compt_address_province,
		comp_address_city,
		comp_address_district,
		comp_address_more,
		date_format(found_date,'%Y-%m-%d') as found_date_str,
		found_date,
		comp_kind,
		place_of_comp,
		comp_industry,
		create_user_id,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_customer_change_line_company
		<where>
			<if test="wms_cre_customer_change_line_company_id != null">
				and wms_cre_customer_change_line_company_id =
				#{wms_cre_customer_change_line_company_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and wms_cre_credit_line_customer_change_head_id =
				#{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="comp_full_name != null">
				and comp_full_name = #{comp_full_name}
			</if>
			<if test="comp_tel != null">
				and comp_tel = #{comp_tel}
			</if>
			<if test="compt_address_province != null">
				and compt_address_province = #{compt_address_province}
			</if>
			<if test="comp_address_city != null">
				and comp_address_city = #{comp_address_city}
			</if>
			<if test="comp_address_district != null">
				and comp_address_district = #{comp_address_district}
			</if>
			<if test="comp_address_more != null">
				and comp_address_more = #{comp_address_more}
			</if>
			<if test="found_date != null">
				and found_date = #{found_date}
			</if>
			<if test="comp_kind != null">
				and comp_kind = #{comp_kind}
			</if>
			<if test="place_of_comp != null">
				and place_of_comp = #{place_of_comp}
			</if>
			<if test="comp_industry != null">
				and comp_industry = #{comp_industry}
			</if>
			<if test="create_user_id != null">
				and create_user_id = #{create_user_id}
			</if>
			<if test="create_timestamp != null">
				and create_timestamp = #{create_timestamp}
			</if>
			<if test="last_update_user_id != null">
				and last_update_user_id = #{last_update_user_id}
			</if>
			<if test="last_update_timestamp != null">
				and last_update_timestamp = #{last_update_timestamp}
			</if>
			<if test="enable_flag != null">
				and enable_flag = #{enable_flag}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_customer_change_line_company_id !=
				#{wms_cre_customer_change_line_company_id}
			</if>
		</where>
	</select>
	<delete id="deleteByMap" parameterType="map">
		delete from wms_cre_customer_change_line_company
		<where>
			<if test="dltIDArr !=null">
				and wms_cre_credit_line_customer_change_head_id in
				<foreach collection="dltIDArr"
					item="wms_cre_credit_line_customer_change_head_id" index="index"
					open="(" separator="," close=")">
					#{wms_cre_credit_line_customer_change_head_id}
				</foreach>
			</if>
		</where>
	</delete>
	<!-- 获取表信息 -->
	<select id="getCopyInfo" parameterType="Integer" resultType="WmsCreCustomerChangeLineCompany">
		select *
		from wms_cre_customer_change_line_company
		where
		wms_cre_credit_line_customer_change_head_id=#{id}
		and enable_flag=1
	</select>
	 <!-- save -->
	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO wms_cre_customer_change_line_company
		(
			wms_cre_customer_change_line_company_id,

			wms_cre_credit_line_customer_change_head_id,
	
			comp_full_name,
	
			comp_tel,
	
			compt_address_province,
	
			comp_address_city,
	
			comp_address_district,
	
			comp_address_more,
	
			found_date,
	
			comp_kind,
	
			place_of_comp,
	
			comp_industry,
	
			create_user_id,
	
			create_timestamp,
	
			last_update_user_id,
	
			last_update_timestamp,
	
			enable_flag
		)
		VALUES
		 <foreach collection="list" item="item" index="index" separator="," >  
		 (	
				#{item.wms_cre_customer_change_line_company_id},
				#{item.wms_cre_credit_line_customer_change_head_id},
				#{item.comp_full_name},
				#{item.comp_tel},
				#{item.compt_address_province},
				#{item.comp_address_city},
				#{item.comp_address_district},
				#{item.comp_address_more},
				#{item.found_date},
				#{item.comp_kind},
				#{item.place_of_comp},
				#{item.comp_industry},
				#{item.create_user_id},
				#{item.create_timestamp},
				#{item.last_update_user_id},
				#{item.last_update_timestamp},
				#{item.enable_flag}
		)  
    	</foreach>
	</insert>
</mapper> 
