<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<!-- 助贷师客户累计放款率统计表 -->
<mapper namespace="com.zx.emanage.reportmanage.persist.WmsHelpPlannersCustomerLoanLendingRateStatisticsDao">
<!-- 显示符合条件客户还款情况统计信息 -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptName`,
		(select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesName`,
		`dept`.`dept_id` AS `businessgroupId`,
		`dept`.`dept_name` AS `businessgroupName`,
		`pm`.`personnel_regionNumber` AS `regionNumber`,
		`repay`.`salesman_id` AS `salesman_id`,
		`repay`.`salesman_name` AS `salesman_name`,
		 concat(`repay`.`salesman_name`,'/',`pm`.`personnel_shortCode`) as personnel_Code,
		`pm`.`personnel_shortCode` AS `personnel_shortCode`,
		count(`repay`.`wms_fina_cre_pay_id`) AS `count_success`,
		(select case h.cre_type when '2' then sum(`h`.`appro_limit`)*10000 when '1' then sum(`h`.`visa_limit`)*10000 end from `wms_cre_credit_head` `h` where ((`h`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS visa_limit,
		(select sum(`e`.`credit_limit`)*10000 from `wms_cre_credit_head` `e` where ((`e`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS credit_limit ,
		((select case b.cre_type when '2' then sum(`b`.`appro_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 when '1' then sum(`b`.`visa_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `b` where ((`b`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)))) as loan_amount_str from ((`wms_fina_cre_repay` `repay` join `pm_personnel` `pm`) join `sys_dept` `dept`) 
		<where>
		((`repay`.`salesman_id` = `pm`.`personnel_id`) 
		and (`dept`.`dept_id` = `pm`.`personnel_deptId`)) 
		<if test="deptId !=null">
			and (select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))))=#{deptId})
		</if>
		<if test="storesId !=null">
			and ((select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))=#{storesId})
		</if>
		<if test="businessgroupId !=null">
			and (dept.dept_id=#{businessgroupId})
		</if>
		<if test="personnel_Code !=null">
			and (repay.salesman_name like #{personnel_Code} or pm.personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			<!--  and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000) when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000) end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})-->
			and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
			group by `repay`.`salesman_id`
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
	<!-- 查询符合条件客户还款情况统计数 -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(f.personnel_id)
		from (select pm.personnel_id as personnel_id from ((`wms_fina_cre_repay` `repay` join `pm_personnel` `pm`) join `sys_dept` `dept`) 
		<where>
		<!-- where ((`repay`.`salesman_id` = `pm`.`personnel_id`) and (`dept`.`dept_id` = `pm`.`personnel_deptId`)) group by `repay`.`salesman_id`) f -->
		((`repay`.`salesman_id` = `pm`.`personnel_id`) 
		and (`dept`.`dept_id` = `pm`.`personnel_deptId`)) 
		<if test="deptId !=null">
			and (select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))))=#{deptId})
		</if>
		<if test="storesId !=null">
			and ((select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))=#{storesId})
		</if>
		<if test="businessgroupId !=null">
			and (dept.dept_id=#{businessgroupId})
		</if>
		<if test="personnel_Code !=null">
			and (repay.salesman_name like #{personnel_Code} or pm.personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			<!--and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000) when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000) end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) as loan_amount BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})-->		
			and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))  BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (repay.loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
			group by `repay`.`salesman_id`
		</where>
		)f
	</select>
	<!-- 导出符合查询条件的所有客户还款情况统计信息 -->
	<select id="getListWithoutPaging" parameterType="map" resultType="java.util.HashMap">
		select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptName`,
		(select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesName`,
		`dept`.`dept_id` AS `businessgroupId`,
		`dept`.`dept_name` AS `businessgroupName`,
		`pm`.`personnel_regionNumber` AS `regionNumber`,
		`repay`.`salesman_id` AS `salesman_id`,
		`repay`.`salesman_name` AS `salesman_name`,
		 concat(`repay`.`salesman_name`,'/',`pm`.`personnel_shortCode`) as personnel_Code,
		`pm`.`personnel_shortCode` AS `personnel_shortCode`,
		count(`repay`.`wms_fina_cre_pay_id`) AS `count_success`,
		(select case h.cre_type when '2' then sum(`h`.`appro_limit`)*10000 when '1' then sum(`h`.`visa_limit`)*10000 end from `wms_cre_credit_head` `h` where ((`h`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS visa_limit,
		(select sum(`e`.`credit_limit`)*10000 from `wms_cre_credit_head` `e` where ((`e`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS credit_limit ,
		((select case b.cre_type when '2' then sum(`b`.`appro_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 when '1' then sum(`b`.`visa_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `b` where ((`b`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)))) as loan_amount_str from ((`wms_fina_cre_repay` `repay` join `pm_personnel` `pm`) join `sys_dept` `dept`) 
		<where>
		((`repay`.`salesman_id` = `pm`.`personnel_id`) 
		and (`dept`.`dept_id` = `pm`.`personnel_deptId`)) 
		<if test="deptId !=null">
			and (select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))))=#{deptId})
		</if>
		<if test="storesId !=null">
			and ((select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))=#{storesId})
		</if>
		<if test="businessgroupId !=null">
			and (dept.dept_id=#{businessgroupId})
		</if>
		<if test="personnel_Code !=null">
			and (repay.salesman_name like #{personnel_Code} or pm.personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			<!--  and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000) when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000) end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})-->
			and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
			group by `repay`.`salesman_id`
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
	<!-- 实现显示综合统计数据 -->
	<select id="searchByDataView" parameterType="map" resultType="java.util.HashMap">
		SELECT 	SUM(y.visa_limit)	as v_limit ,SUM(y.credit_limit) as c_limit,CONCAT(y.deptName,"/",y.storesName,"/",y.businessgroupName) as dep ,SUM(y.visa_limit)/SUM(y.credit_limit)*100 AS amount_str FROM(	select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))))) AS `deptName`,
		(select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesId`,
		(select `sys_dept`.`dept_name` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`)))) AS `storesName`,
		`dept`.`dept_id` AS `businessgroupId`,
		`dept`.`dept_name` AS `businessgroupName`,
		`pm`.`personnel_regionNumber` AS `regionNumber`,
		`repay`.`salesman_id` AS `salesman_id`,
		`repay`.`salesman_name` AS `salesman_name`,
		 concat(`repay`.`salesman_name`,'/',`pm`.`personnel_shortCode`) as personnel_Code,
		`pm`.`personnel_shortCode` AS `personnel_shortCode`,
		count(`repay`.`wms_fina_cre_pay_id`) AS `count_success`,
		(select case h.cre_type when '2' then sum(`h`.`appro_limit`)*10000 when '1' then sum(`h`.`visa_limit`)*10000 end from `wms_cre_credit_head` `h` where ((`h`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS visa_limit,
		(select sum(`e`.`credit_limit`)*10000 from `wms_cre_credit_head` `e` where ((`e`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`))) AS credit_limit ,
		((select case b.cre_type when '2' then sum(`b`.`appro_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 when '1' then sum(`b`.`visa_limit`)*10000/(sum(`b`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `b` where ((`b`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)))) as loan_amount_str from ((`wms_fina_cre_repay` `repay` join `pm_personnel` `pm`) join `sys_dept` `dept`) 
		<where>
		((`repay`.`salesman_id` = `pm`.`personnel_id`) 
		and (`dept`.`dept_id` = `pm`.`personnel_deptId`)) 
		<if test="deptId !=null">
			and (select (select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))))=#{deptId})
		</if>
		<if test="storesId !=null">
			and ((select `sys_dept`.`dept_id` from `sys_dept` where (`sys_dept`.`dept_id` = (select `sys_dept`.`dept_pid` from `sys_dept` where (`sys_dept`.`dept_id` = `pm`.`personnel_deptId`))))=#{storesId})
		</if>
		<if test="businessgroupId !=null">
			and (dept.dept_id=#{businessgroupId})
		</if>
		<if test="personnel_Code !=null">
			and (repay.salesman_name like #{personnel_Code} or pm.personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			<!--  and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000) when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000) end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})-->
			and ((select case o.cre_type when '2' then sum(`o`.`appro_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 when '1' then sum(`o`.`visa_limit`)*10000/(sum(`o`.`credit_limit`)*10000)*100 end from `wms_cre_credit_head` `o` where (`o`.`wms_cre_credit_head_id` = `repay`.`wms_cre_credit_head_id`)) BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
			group by `repay`.`salesman_id`) y
		</where>
	</select>
	<!-- 跟你业务员id查询详情 -->
	<select id="searchDetails" parameterType="map" resultType="java.util.HashMap">
		select 
			r.salesman_name,
			h.bill_code,
			h.credit_limit,
			h.visa_limit,
			h.appro_limit,
			(case h.cre_type when '2' then h.appro_limit when '1' then h.visa_limit end ) as a_limit_str,
			(case h.cre_type when '2' then sum(h.appro_limit)*10000/(sum(h.credit_limit)*10000)*100 when '1' then sum(h.visa_limit)*10000/(sum(h.credit_limit)*10000)*100 end ) as limit_str,
			r.repay_status,
			(case r.repay_status when '1' then '还款中' when '2' then '还款中' when '3' then
			'已完成' when '4' then '贷账' when '5' then '存档' when '6' then '诉讼' end) as
			repay_status_name,
			c.customer_name
		from 
			wms_cre_credit_head h,wms_fina_cre_repay r,wms_cre_credit_line_customer_change_head c
		where 
			h.wms_cre_credit_head_id=r.wms_cre_credit_head_id
			and r.wms_cre_credit_head_id=c.wms_cre_credit_head_id
			and r.salesman_id=#{salesman_id}
	</select>
	
	<!-- 显示符合条件客户还款情况统计信息 -->
	<select id="search_r" parameterType="map" resultType="java.util.HashMap">
		SELECT
		deptId,
		deptName,
		storesId,
		storesName,
		businessgroupId,
		businessgroupName,
		regionNumber,
		salesman_id,
		salesman_name,
		personnel_shortCode,
		personnel_Code,
		count_success,
		visa_limit,
		credit_limit,
		loan_date,
		loan_amount_str
		FROM
		v_rate_statistics_search
		<where>
		1=1
		<if test="deptId !=null">
			and deptId=#{deptId}
		</if>
		<if test="storesId !=null">
			and storesId=#{storesId}
		</if>
		<if test="businessgroupId !=null">
			and businessgroupId=#{businessgroupId}
		</if>
		<if test="personnel_Code !=null">
			and (salesman_name like #{personnel_Code} or personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			and (loan_amount_str BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
	<!-- 查询符合条件客户还款情况统计数 -->
	<select id="findCount_r" parameterType="map" resultType="int">
		SELECT
			count(salesman_id)
		FROM
			v_rate_statistics_search
		<where>
		1=1
		<if test="deptId !=null">
			and deptId=#{deptId}
		</if>
		<if test="storesId !=null">
			and storesId=#{storesId}
		</if>
		<if test="businessgroupId !=null">
			and businessgroupId=#{businessgroupId}
		</if>
		<if test="personnel_Code !=null">
			and (salesman_name like #{personnel_Code} or personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			and (loan_amount_str BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
	<!-- 导出符合查询条件的所有客户还款情况统计信息 -->
	<select id="getListWithoutPaging_r" parameterType="map" resultType="java.util.HashMap">
		SELECT
		deptId,
		deptName,
		storesId,
		storesName,
		businessgroupId,
		businessgroupName,
		regionNumber,
		salesman_id,
		salesman_name,
		personnel_shortCode,
		personnel_Code,
		count_success,
		visa_limit,
		credit_limit,
		loan_date,
		loan_amount_str
		FROM
		v_rate_statistics_search
		<where>
		1=1
		<if test="deptId !=null">
			and deptId=#{deptId}
		</if>
		<if test="storesId !=null">
			and storesId=#{storesId}
		</if>
		<if test="businessgroupId !=null">
			and businessgroupId=#{businessgroupId}
		</if>
		<if test="personnel_Code !=null">
			and (salesman_name like #{personnel_Code} or personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			and (loan_amount_str BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
	</select>
	<!-- 实现显示综合统计数据 -->
	<select id="searchByDataView_r" parameterType="map" resultType="java.util.HashMap">
		select 
			SUM(visa_limit)	as v_limit ,
			SUM(credit_limit) as c_limit,
			CONCAT(deptName,"/",storesName,"/",businessgroupName) as dep ,
			SUM(visa_limit)/SUM(credit_limit)*100 AS amount_str
		from 
			v_rate_statistics_search
		<where>
		1=1
		<if test="deptId !=null">
			and deptId=#{deptId}
		</if>
		<if test="storesId !=null">
			and storesId=#{storesId}
		</if>
		<if test="businessgroupId !=null">
			and businessgroupId=#{businessgroupId}
		</if>
		<if test="personnel_Code !=null">
			and (salesman_name like #{personnel_Code} or personnel_shortCode like #{personnel_Code})
		</if>
		<if test="loan_amount_str_begin !=null">
			and (loan_amount_str BETWEEN #{loan_amount_str_begin} and #{loan_amount_str_end})
		</if>
		<if test="create_timestamp_begin !=null">
			and (loan_date BETWEEN #{create_timestamp_begin} and #{create_timestamp_end})
		</if>
		</where>
	</select>
</mapper>