<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.creditRightManager.persist.WmsInveMulticreInfoDao">
	<select id="creditCollectionlistall" parameterType="map" resultType="java.util.HashMap">
		select 
			wms_inve_multicre_info_id,
			col_code,
			case 
				when cre_type='1' then '信用类债权' 
				when cre_type='2' then '房产抵押类债权'
				when cre_type='3' then '车产抵押类债权' 
				when cre_type='4' then '可拆分抵押类债权' 
				else '' end as cre_type,
			truncate(ifnull(cre_whole_mon,0)/10000,0) as cre_whole_mon,
			truncate(ifnull(cre_use_mon,0)/10000,0) as cre_use_mon,
			truncate(ifnull(cre_use_mon,0)/cre_whole_mon*100,0) as rel_col_coeff,
			concat(personnel_name,' ',personnel_shortcode) as personnel_name_detail,
			date_format(create_time,'%Y-%m-%d') as create_time,
			case 
				when multicre_state='0' then '草稿' 
				when multicre_state='1' then '已完成'
				when multicre_state='2' then '已失效' 
				else '' end as multicre_state
		from wms_inve_multicre_info
		where
			enable_flag='1'
			<if test="cre_type !=null and cre_type !=''">
				and cre_type=#{cre_type}
			</if>
			<if test="cre_whole_mon_tt_low !=null and cre_whole_mon_tt_low !=''">
				and cre_whole_mon >=(#{cre_whole_mon_tt_low}*10000)
			</if>
			<if test="cre_whole_mon_tt_high !=null and cre_whole_mon_tt_high !=''">
				and (#{cre_whole_mon_tt_high}*10000) >= cre_whole_mon
			</if>
		
			<if test="create_time_start !=null and create_time_start !=''">
				and create_time >=#{create_time_start}
			</if>
			
			<if test="create_time_end !=null and create_time_end !=''">
			
				and DATE_ADD(#{create_time_end}, INTERVAL 1 DAY)>=create_time
			</if>
			<if test="multicre_state !=null and multicre_state !=''">
				and multicre_state=#{multicre_state}
			</if>
			
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="page != null and pageSize !=null">
			LIMIT ${(page-1)*pageSize} , ${pageSize}
		</if>
	</select>
	
	<select id="creditCollectionlistall_findcount" parameterType="map" resultType="int">
		select count(1) from wms_inve_multicre_info
		where
			enable_flag='1'
			<if test="cre_type !=null and cre_type !=''">
				and cre_type=#{cre_type}
			</if>
			<if test="cre_whole_mon_tt_low !=null and cre_whole_mon_tt_low !=''">
				and cre_whole_mon >=(#{cre_whole_mon_tt_low}*10000)
			</if>
			<if test="cre_whole_mon_tt_high !=null and cre_whole_mon_tt_high !=''">
				and (#{cre_whole_mon_tt_high}*10000) >= cre_whole_mon
			</if>
		
			<if test="create_time_start !=null and create_time_start !=''">
				and create_time >=#{create_time_start}
			</if>
			
			<if test="create_time_end !=null and create_time_end !=''">
				and DATE_ADD(#{create_time_end}, INTERVAL 1 DAY)>=create_time
			</if>
			<if test="multicre_state !=null and multicre_state !=''">
				and multicre_state=#{multicre_state}
			</if>
	</select>
	<select id="getWmsCredRightColData" parameterType="map" resultType="java.util.HashMap">
		select 
			DATE_FORMAT(now(),'%Y-%m-%d') as create_time,
			CONCAT('ZQCJ',DATE_FORMAT(now(),'%Y%m%d'),LPAD(seqrepeat('WMS_INVE_CREDIT_SPLIT_SPEC_CODE_NEW',0),6,0)) as col_code,
			#{personnel_id} as personnel_id,
			(select concat(personnel_name,' ',personnel_shortcode) from pm_personnel where personnel_id=#{personnel_id}) as personnel_name_detail
	</select>
	
	
	<insert id="insertWmsInveMulticreInfo"  parameterType="map"  useGeneratedKeys="true" keyProperty="wms_inve_multicre_info_id">
		insert into wms_inve_multicre_info
		(
			col_code,
			cre_type,
			personnel_id,
			personnel_name,
			personnel_shortcode,
			create_time,
			multicre_state,
			enable_flag
		)
		values
		(
			#{col_code},
			#{cre_type},
			#{personnel_id},
			(select personnel_name from pm_personnel where personnel_id=#{personnel_id}),
			(select personnel_shortcode from pm_personnel where personnel_id=#{personnel_id}),
			now(),
			#{multicre_state},
			#{enable_flag}
		)
	</insert>
	<insert id="insertWmsInveCreditPackage" parameterType="map">
		insert into wms_inve_credit_package
		(
			wms_inve_multicre_info_id,
			cre_pkg_code,
			cre_type,
			cre_per_name,
			protocol_id_year_num,
			cre_per_card_id,
			cre_pledge_mon,
			house_size,
			crepg_start_date,
			crepg_end_date,
			rele_per_id,
			rele_per_name,
			loca_num,
			crepackage_state,
			create_user_id,
			create_timestamp,
			enable_flag
		)
		values
		<foreach collection="al" item="item" index="index" separator=","  > 
				(
				#{wms_inve_multicre_info_id},
				CONCAT('DYB',getClerkProcCode('WMS_INVE_CREDIT_CODE_NEW')),
				#{cre_type},
				#{item.cre_per_name},
				#{item.protocol_id_year_num},
				#{item.cre_per_card_id},
				FLOOR(#{item.cre_pledge_mon})*10000,
				#{item.house_size},
				#{item.crepg_start_date},
				#{item.crepg_end_date},
				#{item.rele_per_id},
				(select personnel_name from wms_inve_clerk_company_creditor where wms_inve_clerk_company_creditor_id=#{item.rele_per_id}),
				#{item.loca_num},
				'0',
				#{create_user_id},
				now(),
				#{enable_flag}
				)
		</foreach>
	</insert>
	<update id="updateCurrMultiInfo" parameterType="map">
		update wms_inve_multicre_info set cre_whole_mon=(select sum(ifnull(cre_pledge_mon,0)) from wms_inve_credit_package where wms_inve_multicre_info_id=#{wms_inve_multicre_info_id})
		where wms_inve_multicre_info_id=#{wms_inve_multicre_info_id}
	</update>
	<select id="getWmsInveMulticreInfo" parameterType="map" resultType="java.util.HashMap">
		select * from wms_inve_multicre_info where col_code=#{col_code} 
	</select>
	
	<select id="getWmsInveMulticreInfoDetail" parameterType="map" resultType="java.util.HashMap">
		select 
			col_code,
			case 
				when multicre_state='0' then '草稿' 
				when multicre_state='1' then '已完成'
				when multicre_state='2' then '已失效' 
				else '' end as multicre_state,
			multicre_state as multicre_state_base,
			concat(personnel_name,' ',personnel_shortcode) as personnel_name_detail,
			date_format(create_time,'%Y-%m-%d') as create_time,
		 	case 
				when cre_type='1' then '信用类债权' 
				when cre_type='2' then '房产抵押类债权'
				when cre_type='3' then '车产抵押类债权' 
				when cre_type='4' then '可拆分抵押类债权' 
				else '' end as cre_type,
			cre_type as cre_type_base,
			concat(truncate(ifnull(cre_whole_mon,0)/10000,0),'万元') as cre_whole_mon,
			concat(truncate(ifnull(cre_use_mon,0)/10000,0),'万元') as cre_use_mon
		from wms_inve_multicre_info
		where wms_inve_multicre_info_id=#{wms_inve_multicre_info_id}
	</select>
	<select id="getWmsInveCreditPackageListByMK" parameterType="map" resultType="java.util.HashMap">
		select 
			a.wms_inve_credit_package_id,
			a.cre_pkg_code,
			a.cre_per_name,
			a.protocol_id_year_num,
			a.cre_per_card_id,
			truncate(ifnull(a.cre_pledge_mon,0)/10000,0) as cre_pledge_mon,
			a.house_size,
			a.crepg_start_date,
			a.crepg_end_date,
			a.rele_per_id,
			a.loca_num,
			concat(a.crepg_start_date,'至',a.crepg_end_date) as crepg_date,
			a.rele_per_name,
			(select b.region_name from wms_inve_clerk_region b where b.enable_flag='1' and b.region_number=a.loca_num) as region_name,
			ifnull(a.act_end_date,a.crepg_end_date)&lt;CURDATE() as is_finish
		from wms_inve_credit_package a
		where a.wms_inve_multicre_info_id=#{wms_inve_multicre_info_id}
	</select>
	<delete id="deleteWmsInveMulticreById" parameterType="map">
		delete from wms_inve_multicre_info where wms_inve_multicre_info_id=#{wms_inve_multicre_info_id}
	</delete>
	<delete id="deleteWmsInvePkgById" parameterType="map">
		delete from wms_inve_credit_package where wms_inve_multicre_info_id=#{wms_inve_multicre_info_id}
	</delete>
	<select id="checkProtocolNumIsExist" parameterType="map" resultType="java.util.HashMap">
		SELECT distinct protocol_id_year_num FROM wms_inve_credit_package
		WHERE protocol_id_year_num IN 
		<foreach collection="alconf" item="item" index="index" open="(" separator="," close=")" > 
			#{item.protocol_id_year_num}
		</foreach>
		and enable_flag!=0 and destroy_reason is not null
	</select>
</mapper>