<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreRevInfoCourtCaseDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreRevInfoCourtCase">
		select
		wms_cre_rev_info_court_case_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		execute_status,
		date_format(accreditation_date,'%Y-%m-%d') as accreditation_date_str,
		accreditation_date,
		execute_target,
		court_case_type,
		court_case_remark
		from
		wms_cre_rev_info_court_case
		where
		wms_cre_rev_info_court_case_id = #{wms_cre_rev_info_court_case_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_rev_info_court_case_id) as count
		from
		wms_cre_rev_info_court_case
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<!-- 实现对法院网信息的查询 -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_rev_info_court_case_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		execute_status,
		date_format(accreditation_date,'%Y-%m-%d') as accreditation_date_str,
		accreditation_date,
		execute_target,
		court_case_type,
		court_case_remark
		from wms_cre_rev_info_court_case
		<where>
			court_case_type=#{court_case_type} and wms_cre_credit_head_id=#{wms_cre_credit_head_id} and
			wms_cre_credit_line_customer_change_head_id=#{wms_cre_credit_line_customer_change_head_id}
		</where>

	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreRevInfoCourtCase"
		useGeneratedKeys="true" keyProperty="wms_cre_rev_info_court_case_id">
		INSERT INTO
		wms_cre_rev_info_court_case
		(
		wms_cre_rev_info_court_case_id,

		wms_cre_credit_head_id,

		wms_cre_credit_line_customer_change_head_id,

		execute_status,

		accreditation_date,

		execute_target,

		court_case_type,

		court_case_remark
		)
		VALUES
		(
		#{wms_cre_rev_info_court_case_id},
		#{wms_cre_credit_head_id},
		#{wms_cre_credit_line_customer_change_head_id},
		#{execute_status},
		#{accreditation_date},
		#{execute_target},
		#{court_case_type},
		#{court_case_remark}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreRevInfoCourtCase">
		update wms_cre_rev_info_court_case
		<set>
			<if test="wms_cre_rev_info_court_case_id != null">
				wms_cre_rev_info_court_case_id = #{wms_cre_rev_info_court_case_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="execute_status != null">
				execute_status = #{execute_status},
			</if>
			<if test="accreditation_date != null">
				accreditation_date = #{accreditation_date},
			</if>
			<if test="execute_target != null">
				execute_target = #{execute_target},
			</if>
			<if test="court_case_type != null">
				court_case_type = #{court_case_type},
			</if>
			<if test="court_case_remark != null">
				court_case_remark = #{court_case_remark},
			</if>
		</set>
		where
		wms_cre_rev_info_court_case_id = #{wms_cre_rev_info_court_case_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreRevInfoCourtCase"
		resultType="WmsCreRevInfoCourtCase">
		select
		wms_cre_rev_info_court_case_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		execute_status,
		date_format(accreditation_date,'%Y-%m-%d') as accreditation_date_str,
		accreditation_date,
		execute_target,
		court_case_type,
		court_case_remark
		from
		wms_cre_rev_info_court_case
		<where>
			<if test="wms_cre_rev_info_court_case_id != null">
				and wms_cre_rev_info_court_case_id = #{wms_cre_rev_info_court_case_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and wms_cre_credit_line_customer_change_head_id =
				#{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="execute_status != null">
				and execute_status = #{execute_status}
			</if>
			<if test="accreditation_date != null">
				and accreditation_date = #{accreditation_date}
			</if>
			<if test="execute_target != null">
				and execute_target = #{execute_target}
			</if>
			<if test="court_case_type != null">
				and court_case_type = #{court_case_type}
			</if>
			<if test="court_case_remark != null">
				and court_case_remark = #{court_case_remark}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_rev_info_court_case_id != #{wms_cre_rev_info_court_case_id}
			</if>
		</where>
	</select>
	<delete id="deleteInfo" parameterType="map">
		delete from wms_cre_rev_info_court_case
		where court_case_type=#{court_case_type} and wms_cre_credit_head_id =
		#{wms_cre_credit_head_id} and
		wms_cre_credit_line_customer_change_head_id =
		#{wms_cre_credit_line_customer_change_head_id}
	</delete>
</mapper> 
