<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreRevCertificateMainDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsCreRevCertificateMain">
		select
		wms_cre_rev_certificate_main_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		remark
		from
		wms_cre_rev_certificate_main
		where
		wms_cre_rev_certificate_main_id = #{wms_cre_rev_certificate_main_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_rev_certificate_main_id) as count
		from
		wms_cre_rev_certificate_main
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_rev_certificate_main_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		remark
		from wms_cre_rev_certificate_main
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreRevCertificateMain"
		useGeneratedKeys="true" keyProperty="wms_cre_rev_certificate_main_id">
		INSERT INTO
		wms_cre_rev_certificate_main
		(
		wms_cre_rev_certificate_main_id,

		wms_cre_credit_head_id,

		wms_cre_credit_line_customer_change_head_id,

		remark
		)
		VALUES
		(
		#{wms_cre_rev_certificate_main_id},
		#{wms_cre_credit_head_id},
		#{wms_cre_credit_line_customer_change_head_id},
		#{remark}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreRevCertificateMain">
		update wms_cre_rev_certificate_main
		<set>
			<if test="wms_cre_rev_certificate_main_id != null">
				wms_cre_rev_certificate_main_id = #{wms_cre_rev_certificate_main_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
		</set>
		where
		wms_cre_rev_certificate_main_id = #{wms_cre_rev_certificate_main_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreRevCertificateMain"
		resultType="WmsCreRevCertificateMain">
		select
		wms_cre_rev_certificate_main_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		remark
		from
		wms_cre_rev_certificate_main
		<where>
			<if test="wms_cre_rev_certificate_main_id != null">
				and wms_cre_rev_certificate_main_id =
				#{wms_cre_rev_certificate_main_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and wms_cre_credit_line_customer_change_head_id =
				#{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_rev_certificate_main_id !=
				#{wms_cre_rev_certificate_main_id}
			</if>
		</where>
	</select>
	<delete id="deleteForId" parameterType="map">
		delete from
		wms_cre_rev_certificate_main
		where wms_cre_credit_head_id = #{wms_cre_credit_head_id}
		and
		wms_cre_credit_line_customer_change_head_id =
		#{wms_cre_credit_line_customer_change_head_id}
	</delete>
		<!-- 获取表信息 -->
	<select id="getCopyInfo" parameterType="Integer" resultType="WmsCreRevCertificateMain">
		select *
		from wms_cre_rev_certificate_main
		where
		wms_cre_credit_head_id=#{wms_cre_credit_head_id}
	</select>
	  <!-- save -->
	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO wms_cre_rev_certificate_main
		(
			wms_cre_rev_certificate_main_id,

			wms_cre_credit_head_id,
	
			wms_cre_credit_line_customer_change_head_id,
	
			remark
		)
		VALUES
		 <foreach collection="list" item="item" index="index" separator="," >  
		 (	
				#{item.wms_cre_rev_certificate_main_id},
				#{item.wms_cre_credit_head_id},
				#{item.wms_cre_credit_line_customer_change_head_id},
				#{item.remark}	
		)  
    	</foreach>
	</insert>
</mapper> 
