<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreRevInfoInsuranceDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreRevInfoInsurance">
		select
		wms_cre_rev_info_insurance_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		lnsurance_type,
		lookup_mode,
		lookup_result,
		lnsurance_com_same,
		lnsurance_status
		from
		wms_cre_rev_info_insurance
		where
		wms_cre_rev_info_insurance_id = #{wms_cre_rev_info_insurance_id}
	</select>
	<!-- 通过贷款单id和客户变更id和保险类型 -->
	<select id="getByFK" parameterType="map" resultType="WmsCreRevInfoInsurance">
		select
		wms_cre_rev_info_insurance_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		lnsurance_type,
		lookup_mode,
		lookup_result,
		lnsurance_com_same,
		lnsurance_status
		from
		wms_cre_rev_info_insurance
		where
		wms_cre_credit_head_id=#{wms_cre_credit_head_id} and
		wms_cre_credit_line_customer_change_head_id=#{wms_cre_credit_line_customer_change_head_id}
		and lnsurance_type=#{lnsurance_type}
	</select>
	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_rev_info_insurance_id) as count
		from
		wms_cre_rev_info_insurance
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_rev_info_insurance_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		lnsurance_type,
		lookup_mode,
		lookup_result,
		lnsurance_com_same,
		lnsurance_status
		wms_cre_rev_info_insurance
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreRevInfoInsurance"
		useGeneratedKeys="true" keyProperty="wms_cre_rev_info_insurance_id">
		INSERT INTO
		wms_cre_rev_info_insurance
		(
		wms_cre_rev_info_insurance_id,

		wms_cre_credit_head_id,

		wms_cre_credit_line_customer_change_head_id,

		lnsurance_type,

		lookup_mode,

		lookup_result,

		lnsurance_com_same,

		lnsurance_status
		)
		VALUES
		(
		#{wms_cre_rev_info_insurance_id},
		#{wms_cre_credit_head_id},
		#{wms_cre_credit_line_customer_change_head_id},
		#{lnsurance_type},
		#{lookup_mode},
		#{lookup_result},
		#{lnsurance_com_same},
		#{lnsurance_status}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreRevInfoInsurance">
		update wms_cre_rev_info_insurance
		<set>
			<if test="wms_cre_rev_info_insurance_id != null">
				wms_cre_rev_info_insurance_id = #{wms_cre_rev_info_insurance_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="lnsurance_type != null">
				lnsurance_type = #{lnsurance_type},
			</if>
			<if test="lookup_mode != null">
				lookup_mode = #{lookup_mode},
			</if>
			<if test="lookup_result != null">
				lookup_result = #{lookup_result},
			</if>
			<if test="lnsurance_com_same != null">
				lnsurance_com_same = #{lnsurance_com_same},
			</if>
			<if test="lnsurance_status != null">
				lnsurance_status = #{lnsurance_status},
			</if>
		</set>
		where
		wms_cre_rev_info_insurance_id = #{wms_cre_rev_info_insurance_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreRevInfoInsurance"
		resultType="WmsCreRevInfoInsurance">
		select
		wms_cre_rev_info_insurance_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		lnsurance_type,
		lookup_mode,
		lookup_result,
		lnsurance_com_same,
		lnsurance_status
		from
		wms_cre_rev_info_insurance
		<where>
			<if test="wms_cre_rev_info_insurance_id != null">
				and wms_cre_rev_info_insurance_id = #{wms_cre_rev_info_insurance_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and wms_cre_credit_line_customer_change_head_id =
				#{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="lnsurance_type != null">
				and lnsurance_type = #{lnsurance_type}
			</if>
			<if test="lookup_mode != null">
				and lookup_mode = #{lookup_mode}
			</if>
			<if test="lookup_result != null">
				and lookup_result = #{lookup_result}
			</if>
			<if test="lnsurance_com_same != null">
				and lnsurance_com_same = #{lnsurance_com_same}
			</if>
			<if test="lnsurance_status != null">
				and lnsurance_status = #{lnsurance_status}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_rev_info_insurance_id != #{wms_cre_rev_info_insurance_id}
			</if>
		</where>
	</select>

	<delete id="deleteInfo" parameterType="map">
		delete from
		wms_cre_rev_info_insurance
		where lnsurance_type = #{lnsurance_type} and
		wms_cre_credit_head_id = #{wms_cre_credit_head_id} and
		wms_cre_credit_line_customer_change_head_id =
		#{wms_cre_credit_line_customer_change_head_id}
	</delete>
</mapper> 
