<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreRevInfoModelDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreRevInfoModel">
		select
		wms_cre_rev_info_model_id,
		wms_cre_credit_head_id,
		work_unit_full_name,
		work_unit_property,
		comp_industry,
		work_year,
		duty_of_work,
		comp_industry_year,
		unit_tel,
		annual_income
		from
		wms_cre_rev_info_model
		where
		wms_cre_rev_info_model_id = #{wms_cre_rev_info_model_id}
	</select>
	<!-- 通过外键查询相应信息 -->
	<select id="getInfoByFK" parameterType="int" resultType="WmsCreRevInfoModel">
		select
		wms_cre_rev_info_model_id,
		wms_cre_credit_head_id,
		work_unit_full_name,
		work_unit_property,
		comp_industry,
		work_year,
		duty_of_work,
		comp_industry_year,
		unit_tel,
		annual_income
		from
		wms_cre_rev_info_model
		where
		wms_cre_credit_head_id = #{wms_cre_credit_head_id}
	</select>
	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_rev_info_model_id) as count
		from
		wms_cre_rev_info_model
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_rev_info_model_id,
		wms_cre_credit_head_id,
		work_unit_full_name,
		work_unit_property,
		comp_industry,
		work_year,
		duty_of_work,
		comp_industry_year,
		unit_tel,
		annual_income
		from wms_cre_rev_info_model
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreRevInfoModel"
		useGeneratedKeys="true" keyProperty="wms_cre_rev_info_model_id">
		INSERT INTO wms_cre_rev_info_model
		(
		wms_cre_rev_info_model_id,

		wms_cre_credit_head_id,

		work_unit_full_name,

		work_unit_property,

		comp_industry,

		work_year,

		duty_of_work,

		comp_industry_year,

		unit_tel,

		annual_income
		)
		VALUES
		(
		#{wms_cre_rev_info_model_id},
		#{wms_cre_credit_head_id},
		#{work_unit_full_name},
		#{work_unit_property},
		#{comp_industry},
		#{work_year},
		#{duty_of_work},
		#{comp_industry_year},
		#{unit_tel},
		#{annual_income}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreRevInfoModel">
		update wms_cre_rev_info_model
		<set>
			<if test="wms_cre_rev_info_model_id != null">
				wms_cre_rev_info_model_id = #{wms_cre_rev_info_model_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="work_unit_full_name != null">
				work_unit_full_name = #{work_unit_full_name},
			</if>
			<if test="work_unit_property != null">
				work_unit_property = #{work_unit_property},
			</if>
			<if test="comp_industry != null">
				comp_industry = #{comp_industry},
			</if>
			<if test="work_year != null">
				work_year = #{work_year},
			</if>
			<if test="duty_of_work != null">
				duty_of_work = #{duty_of_work},
			</if>
			<if test="comp_industry_year != null">
				comp_industry_year = #{comp_industry_year},
			</if>
			<if test="unit_tel != null">
				unit_tel = #{unit_tel},
			</if>
			<if test="annual_income != null">
				annual_income = #{annual_income},
			</if>
		</set>
		where
		wms_cre_rev_info_model_id = #{wms_cre_rev_info_model_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreRevInfoModel"
		resultType="WmsCreRevInfoModel">
		select
		wms_cre_rev_info_model_id,
		wms_cre_credit_head_id,
		work_unit_full_name,
		work_unit_property,
		comp_industry,
		work_year,
		duty_of_work,
		comp_industry_year,
		unit_tel,
		annual_income
		from
		wms_cre_rev_info_model
		<where>
			<if test="wms_cre_rev_info_model_id != null">
				and wms_cre_rev_info_model_id = #{wms_cre_rev_info_model_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="work_unit_full_name != null">
				and work_unit_full_name = #{work_unit_full_name}
			</if>
			<if test="work_unit_property != null">
				and work_unit_property = #{work_unit_property}
			</if>
			<if test="comp_industry != null">
				and comp_industry = #{comp_industry}
			</if>
			<if test="work_year != null">
				and work_year = #{work_year}
			</if>
			<if test="duty_of_work != null">
				and duty_of_work = #{duty_of_work}
			</if>
			<if test="comp_industry_year != null">
				and comp_industry_year = #{comp_industry_year}
			</if>
			<if test="unit_tel != null">
				and unit_tel = #{unit_tel}
			</if>
			<if test="annual_income != null">
				and annual_income = #{annual_income}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_rev_info_model_id != #{wms_cre_rev_info_model_id}
			</if>
		</where>
	</select>

	<delete id="deleteInfo" parameterType="map">
		delete from
		wms_cre_rev_info_model where
		wms_cre_credit_head_id=#{wms_cre_credit_head_id}
	</delete>
</mapper> 
