<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreCarpAssessmentDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsCreCarpAssessment">
		select
        				wms_cre_carp_assessment_id,
        				wms_cre_credit_head_id,
        				customer_name,
        				car_name,
        				car_type,
        				car_no,
        				car_life,
        				driving_range,
        				vehicle_territory_province,
        				vehicle_territory_city,
        				vehicle_territory_other,
        				vi_type_info,
        				other_vi_info,
        				is_major_accidents,
        				major_accidents_remark,
        				vehicle_market_value,
        				vehicle_evaluation_price,
        				carp_assessment_remark,
        				create_user_id,
						date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
        				create_timestamp,
        				last_update_user_id,
						date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
        				last_update_timestamp,
        				enable_flag
        	from
        		wms_cre_carp_assessment
        	where
        				wms_cre_carp_assessment_id = #{wms_cre_carp_assessment_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_carp_assessment_id) as count
		from wms_cre_carp_assessment
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_cre_carp_assessment_id,
				wms_cre_credit_head_id,
				customer_name,
				car_name,
				car_type,
				car_no,
				car_life,
				driving_range,
				vehicle_territory_province,
				vehicle_territory_city,
				vehicle_territory_other,
				vi_type_info,
				other_vi_info,
				is_major_accidents,
				major_accidents_remark,
				vehicle_market_value,
				vehicle_evaluation_price,
				carp_assessment_remark,
				create_user_id,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				last_update_user_id,
				date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
				last_update_timestamp,
				enable_flag
		from wms_cre_carp_assessment
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreCarpAssessment" useGeneratedKeys="true" keyProperty="wms_cre_carp_assessment_id">
		INSERT INTO wms_cre_carp_assessment
		(
				wms_cre_carp_assessment_id,

				wms_cre_credit_head_id,

				customer_name,

				car_name,

				car_type,

				car_no,

				car_life,

				driving_range,

				vehicle_territory_province,

				vehicle_territory_city,

				vehicle_territory_other,

				vi_type_info,

				other_vi_info,

				is_major_accidents,

				major_accidents_remark,

				vehicle_market_value,

				vehicle_evaluation_price,

				carp_assessment_remark,

				create_user_id,

				create_timestamp,

				last_update_user_id,

				last_update_timestamp,

				enable_flag
		)
		VALUES
		(
				#{wms_cre_carp_assessment_id},
				#{wms_cre_credit_head_id},
				#{customer_name},
				#{car_name},
				#{car_type},
				#{car_no},
				#{car_life},
				#{driving_range},
				#{vehicle_territory_province},
				#{vehicle_territory_city},
				#{vehicle_territory_other},
				#{vi_type_info},
				#{other_vi_info},
				#{is_major_accidents},
				#{major_accidents_remark},
				#{vehicle_market_value},
				#{vehicle_evaluation_price},
				#{carp_assessment_remark},
				#{create_user_id},
				#{create_timestamp},
				#{last_update_user_id},
				#{last_update_timestamp},
				#{enable_flag}
		);
	</insert>

	<!-- update -->
	<update id="update" parameterType="WmsCreCarpAssessment">
		update wms_cre_carp_assessment
		<set>
					<if test="wms_cre_carp_assessment_id != null">
						 wms_cre_carp_assessment_id = #{wms_cre_carp_assessment_id},
					</if>
					<if test="wms_cre_credit_head_id != null">
						 wms_cre_credit_head_id = #{wms_cre_credit_head_id},
					</if>
					<if test="customer_name != null">
						 customer_name = #{customer_name},
					</if>
					<if test="car_name != null">
						 car_name = #{car_name},
					</if>
					<if test="car_type != null">
						 car_type = #{car_type},
					</if>
					<if test="car_no != null">
						 car_no = #{car_no},
					</if>
					<if test="car_life != null">
						 car_life = #{car_life},
					</if>
					<if test="driving_range != null">
						 driving_range = #{driving_range},
					</if>
					<if test="vehicle_territory_province != null">
						 vehicle_territory_province = #{vehicle_territory_province},
					</if>
					<if test="vehicle_territory_city != null">
						 vehicle_territory_city = #{vehicle_territory_city},
					</if>
					<if test="vehicle_territory_other != null">
						 vehicle_territory_other = #{vehicle_territory_other},
					</if>
					<if test="vi_type_info != null">
						 vi_type_info = #{vi_type_info},
					</if>
					<if test="other_vi_info != null">
						 other_vi_info = #{other_vi_info},
					</if>
					<if test="is_major_accidents != null">
						 is_major_accidents = #{is_major_accidents},
					</if>
					<if test="major_accidents_remark != null">
						 major_accidents_remark = #{major_accidents_remark},
					</if>
					<if test="vehicle_market_value != null">
						 vehicle_market_value = #{vehicle_market_value},
					</if>
					<if test="vehicle_evaluation_price != null">
						 vehicle_evaluation_price = #{vehicle_evaluation_price},
					</if>
					<if test="carp_assessment_remark != null">
						 carp_assessment_remark = #{carp_assessment_remark},
					</if>
					<if test="create_user_id != null">
						 create_user_id = #{create_user_id},
					</if>
					<if test="create_timestamp != null">
						 create_timestamp = #{create_timestamp},
					</if>
					<if test="last_update_user_id != null">
						 last_update_user_id = #{last_update_user_id},
					</if>
					<if test="last_update_timestamp != null">
						 last_update_timestamp = #{last_update_timestamp},
					</if>
					<if test="enable_flag != null">
						 enable_flag = #{enable_flag},
					</if>
	   </set>
		 where 
    				wms_cre_carp_assessment_id = #{wms_cre_carp_assessment_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreCarpAssessment" resultType="WmsCreCarpAssessment">
		select 
				wms_cre_carp_assessment_id,
				wms_cre_credit_head_id,
				customer_name,
				car_name,
				car_type,
				car_no,
				car_life,
				driving_range,
				vehicle_territory_province,
				vehicle_territory_city,
				vehicle_territory_other,
				vi_type_info,
				other_vi_info,
				is_major_accidents,
				major_accidents_remark,
				vehicle_market_value,
				vehicle_evaluation_price,
				carp_assessment_remark,
				create_user_id,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				last_update_user_id,
				date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
				last_update_timestamp,
				enable_flag
		from
		wms_cre_carp_assessment
		<where>
					<if test="wms_cre_carp_assessment_id != null">
						and wms_cre_carp_assessment_id = #{wms_cre_carp_assessment_id}
					</if>
					<if test="wms_cre_credit_head_id != null">
						and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
					</if>
					<if test="customer_name != null">
						and customer_name = #{customer_name}
					</if>
					<if test="car_name != null">
						and car_name = #{car_name}
					</if>
					<if test="car_type != null">
						and car_type = #{car_type}
					</if>
					<if test="car_no != null">
						and car_no = #{car_no}
					</if>
					<if test="car_life != null">
						and car_life = #{car_life}
					</if>
					<if test="driving_range != null">
						and driving_range = #{driving_range}
					</if>
					<if test="vehicle_territory_province != null">
						and vehicle_territory_province = #{vehicle_territory_province}
					</if>
					<if test="vehicle_territory_city != null">
						and vehicle_territory_city = #{vehicle_territory_city}
					</if>
					<if test="vehicle_territory_other != null">
						and vehicle_territory_other = #{vehicle_territory_other}
					</if>
					<if test="vi_type_info != null">
						and vi_type_info = #{vi_type_info}
					</if>
					<if test="other_vi_info != null">
						and other_vi_info = #{other_vi_info}
					</if>
					<if test="is_major_accidents != null">
						and is_major_accidents = #{is_major_accidents}
					</if>
					<if test="major_accidents_remark != null">
						and major_accidents_remark = #{major_accidents_remark}
					</if>
					<if test="vehicle_market_value != null">
						and vehicle_market_value = #{vehicle_market_value}
					</if>
					<if test="vehicle_evaluation_price != null">
						and vehicle_evaluation_price = #{vehicle_evaluation_price}
					</if>
					<if test="carp_assessment_remark != null">
						and carp_assessment_remark = #{carp_assessment_remark}
					</if>
					<if test="create_user_id != null">
						and create_user_id = #{create_user_id}
					</if>
					<if test="create_timestamp != null">
						and create_timestamp = #{create_timestamp}
					</if>
					<if test="last_update_user_id != null">
						and last_update_user_id = #{last_update_user_id}
					</if>
					<if test="last_update_timestamp != null">
						and last_update_timestamp = #{last_update_timestamp}
					</if>
					<if test="enable_flag != null">
						and enable_flag = #{enable_flag}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_cre_carp_assessment_id != #{wms_cre_carp_assessment_id}
					</if>
		</where>
	</select>
	<!-- get entity by pk -->
	<select id="getByHK" parameterType="int" resultType="java.util.HashMap">
		select
        				wms_cre_carp_assessment_id,
        				wms_cre_credit_head_id,
        				customer_name,
        				car_name,
        				car_type,
        				car_no,
        				car_life,
        				driving_range,
        				vehicle_territory_province,
        				vehicle_territory_city,
        				vehicle_territory_other,
        				vi_type_info,
        				other_vi_info,
        				is_major_accidents,
        				major_accidents_remark,
        				vehicle_market_value,
        				vehicle_evaluation_price,
        				carp_assessment_remark,
        				create_user_id,
						date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
        				create_timestamp,
        				last_update_user_id,
						date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
        				last_update_timestamp,
        				enable_flag
        	from
        		wms_cre_carp_assessment
        	where
        				wms_cre_credit_head_id = #{wms_cre_credit_head_id}
	</select>
</mapper> 
