<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loanreview.persist.WmsCreRevInfoCompDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreRevInfoComp">
		select
		wms_cre_rev_info_comp_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		has_enterprise,
		enterprise_reason,
		company_type,
		register_money,
		operation_state,
		date_format(date_of_issue,'%Y-%m-%d') as date_of_issue_str,
		date_of_issue,
		date_format(issue_begin_date,'%Y-%m-%d') as issue_begin_date_str,
		issue_begin_date,
		date_format(issue_end_date,'%Y-%m-%d') as issue_end_date_str,
		issue_end_date,
		shareholders_num,
		way_of_contribution,
		is_inspection,
		is_same_organ_code,
		is_inspection_organ_code,
		is_same_other,
		is_taxpayer,
		pay_taxes_status,
		comp_remark
		from
		wms_cre_rev_info_comp
		where
		wms_cre_rev_info_comp_id = #{wms_cre_rev_info_comp_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_rev_info_comp_id) as count
		from
		wms_cre_rev_info_comp
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_rev_info_comp_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		has_enterprise,
		enterprise_reason,
		company_type,
		register_money,
		operation_state,
		date_format(date_of_issue,'%Y-%m-%d') as date_of_issue_str,
		date_of_issue,
		date_format(issue_begin_date,'%Y-%m-%d') as issue_begin_date_str,
		issue_begin_date,
		date_format(issue_end_date,'%Y-%m-%d') as issue_end_date_str,
		issue_end_date,
		shareholders_num,
		way_of_contribution,
		is_inspection,
		is_same_organ_code,
		is_inspection_organ_code,
		is_same_other,
		is_taxpayer,
		pay_taxes_status,
		comp_remark
		from wms_cre_rev_info_comp
		<where>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id=#{wms_cre_credit_head_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and
				wms_cre_credit_line_customer_change_head_id=#{wms_cre_credit_line_customer_change_head_id}
			</if>
		</where>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreRevInfoComp"
		useGeneratedKeys="true" keyProperty="wms_cre_rev_info_comp_id">
		INSERT INTO wms_cre_rev_info_comp
		(
		wms_cre_rev_info_comp_id,

		wms_cre_credit_head_id,

		wms_cre_credit_line_customer_change_head_id,

		has_enterprise,

		enterprise_reason,

		company_type,

		register_money,

		operation_state,

		date_of_issue,

		issue_begin_date,

		issue_end_date,

		shareholders_num,

		way_of_contribution,

		is_inspection,

		is_same_organ_code,

		is_inspection_organ_code,

		is_same_other,

		is_taxpayer,

		pay_taxes_status,

		comp_remark
		)
		VALUES
		(
		#{wms_cre_rev_info_comp_id},
		#{wms_cre_credit_head_id},
		#{wms_cre_credit_line_customer_change_head_id},
		#{has_enterprise},
		#{enterprise_reason},
		#{company_type},
		#{register_money},
		#{operation_state},
		#{date_of_issue},
		#{issue_begin_date},
		#{issue_end_date},
		#{shareholders_num},
		#{way_of_contribution},
		#{is_inspection},
		#{is_same_organ_code},
		#{is_inspection_organ_code},
		#{is_same_other},
		#{is_taxpayer},
		#{pay_taxes_status},
		#{comp_remark}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreRevInfoComp">
		update wms_cre_rev_info_comp
		<set>
			<if test="wms_cre_rev_info_comp_id != null">
				wms_cre_rev_info_comp_id = #{wms_cre_rev_info_comp_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				wms_cre_credit_line_customer_change_head_id = #{wms_cre_credit_line_customer_change_head_id},
			</if>
			<if test="has_enterprise != null">
				has_enterprise = #{has_enterprise},
			</if>
			<if test="enterprise_reason != null">
				enterprise_reason = #{enterprise_reason},
			</if>
			<if test="company_type != null">
				company_type = #{company_type},
			</if>
			<if test="register_money != null">
				register_money = #{register_money},
			</if>
			<if test="operation_state != null">
				operation_state = #{operation_state},
			</if>
			<if test="date_of_issue != null">
				date_of_issue = #{date_of_issue},
			</if>
			<if test="issue_begin_date != null">
				issue_begin_date = #{issue_begin_date},
			</if>
			<if test="issue_end_date != null">
				issue_end_date = #{issue_end_date},
			</if>
			<if test="shareholders_num != null">
				shareholders_num = #{shareholders_num},
			</if>
			<if test="way_of_contribution != null">
				way_of_contribution = #{way_of_contribution},
			</if>
			<if test="is_inspection != null">
				is_inspection = #{is_inspection},
			</if>
			<if test="is_same_organ_code != null">
				is_same_organ_code = #{is_same_organ_code},
			</if>
			<if test="is_inspection_organ_code != null">
				is_inspection_organ_code = #{is_inspection_organ_code},
			</if>
			<if test="is_same_other != null">
				is_same_other = #{is_same_other},
			</if>
			<if test="is_taxpayer != null">
				is_taxpayer = #{is_taxpayer},
			</if>
			<if test="pay_taxes_status != null">
				pay_taxes_status = #{pay_taxes_status},
			</if>
			<if test="comp_remark != null">
				comp_remark = #{comp_remark},
			</if>
		</set>
		where
		wms_cre_rev_info_comp_id = #{wms_cre_rev_info_comp_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreRevInfoComp"
		resultType="WmsCreRevInfoComp">
		select
		wms_cre_rev_info_comp_id,
		wms_cre_credit_head_id,
		wms_cre_credit_line_customer_change_head_id,
		has_enterprise,
		enterprise_reason,
		company_type,
		register_money,
		operation_state,
		date_format(date_of_issue,'%Y-%m-%d') as date_of_issue_str,
		date_of_issue,
		date_format(issue_begin_date,'%Y-%m-%d') as issue_begin_date_str,
		issue_begin_date,
		date_format(issue_end_date,'%Y-%m-%d') as issue_end_date_str,
		issue_end_date,
		shareholders_num,
		way_of_contribution,
		is_inspection,
		is_same_organ_code,
		is_inspection_organ_code,
		is_same_other,
		is_taxpayer,
		pay_taxes_status,
		comp_remark
		from
		wms_cre_rev_info_comp
		<where>
			<if test="wms_cre_rev_info_comp_id != null">
				and wms_cre_rev_info_comp_id = #{wms_cre_rev_info_comp_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="wms_cre_credit_line_customer_change_head_id != null">
				and wms_cre_credit_line_customer_change_head_id =
				#{wms_cre_credit_line_customer_change_head_id}
			</if>
			<if test="has_enterprise != null">
				and has_enterprise = #{has_enterprise}
			</if>
			<if test="enterprise_reason != null">
				and enterprise_reason = #{enterprise_reason}
			</if>
			<if test="company_type != null">
				and company_type = #{company_type}
			</if>
			<if test="register_money != null">
				and register_money = #{register_money}
			</if>
			<if test="operation_state != null">
				and operation_state = #{operation_state}
			</if>
			<if test="date_of_issue != null">
				and date_of_issue = #{date_of_issue}
			</if>
			<if test="issue_begin_date != null">
				and issue_begin_date = #{issue_begin_date}
			</if>
			<if test="issue_end_date != null">
				and issue_end_date = #{issue_end_date}
			</if>
			<if test="shareholders_num != null">
				and shareholders_num = #{shareholders_num}
			</if>
			<if test="way_of_contribution != null">
				and way_of_contribution = #{way_of_contribution}
			</if>
			<if test="is_inspection != null">
				and is_inspection = #{is_inspection}
			</if>
			<if test="is_same_organ_code != null">
				and is_same_organ_code = #{is_same_organ_code}
			</if>
			<if test="is_inspection_organ_code != null">
				and is_inspection_organ_code = #{is_inspection_organ_code}
			</if>
			<if test="is_same_other != null">
				and is_same_other = #{is_same_other}
			</if>
			<if test="is_taxpayer != null">
				and is_taxpayer = #{is_taxpayer}
			</if>
			<if test="pay_taxes_status != null">
				and pay_taxes_status = #{pay_taxes_status}
			</if>
			<if test="comp_remark != null">
				and comp_remark = #{comp_remark}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_rev_info_comp_id != #{wms_cre_rev_info_comp_id}
			</if>
		</where>
	</select>
	<delete id="deleteInfo" parameterType="map">
		delete from
		wms_cre_rev_info_comp
		where wms_cre_credit_head_id =
		#{wms_cre_credit_head_id} and
		wms_cre_credit_line_customer_change_head_id =
		#{wms_cre_credit_line_customer_change_head_id}
	</delete>
</mapper> 
