<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.loancheck.persist.WmsCreCreditLineAccuFundDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreCreditLineAccuFund">
		select
		wms_cre_credit_line_accu_fund_id,
		wms_cre_credit_head_id,
		user_name,
		work_unit_full_name,
		balance_account,
		accu_status,
		start_date,
		end_date,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_credit_line_accu_fund
		where
		wms_cre_credit_line_accu_fund_id = #{wms_cre_credit_line_accu_fund_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_credit_line_accu_fund_id) as count
		from
		wms_cre_credit_line_accu_fund
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_credit_line_accu_fund_id,
		wms_cre_credit_head_id,
		user_name,
		work_unit_full_name,
		balance_account,
		accu_status,
		start_date,
		end_date,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_credit_line_accu_fund
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
	<!-- 实现公积金列表显示 -->
	<select id="searchInfoByFK" parameterType="int" resultType="java.util.HashMap">
		select
		wms_cre_credit_line_accu_fund_id,
		wms_cre_credit_head_id,
		user_name,
		work_unit_full_name,
		balance_account,
		accu_status,
		start_date,
		end_date,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_credit_line_accu_fund
		<where>
			enable_flag =1 and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
		</where>
	</select>
	<!-- save -->
	<insert id="save" parameterType="WmsCreCreditLineAccuFund"
		useGeneratedKeys="true" keyProperty="wms_cre_credit_line_accu_fund_id">
		INSERT INTO
		wms_cre_credit_line_accu_fund
		(
		wms_cre_credit_line_accu_fund_id,

		wms_cre_credit_head_id,

		user_name,

		work_unit_full_name,

		balance_account,

		accu_status,

		start_date,

		end_date,

		create_user_id,

		create_user_name,

		create_timestamp,

		last_update_user_id,

		last_update_timestamp,

		enable_flag
		)
		VALUES
		(
		#{wms_cre_credit_line_accu_fund_id},
		#{wms_cre_credit_head_id},
		#{user_name},
		#{work_unit_full_name},
		#{balance_account},
		#{accu_status},
		#{start_date},
		#{end_date},
		#{create_user_id},
		#{create_user_name},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreCreditLineAccuFund">
		update wms_cre_credit_line_accu_fund
		<set>
			<if test="wms_cre_credit_line_accu_fund_id != null">
				wms_cre_credit_line_accu_fund_id = #{wms_cre_credit_line_accu_fund_id},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="user_name != null">
				user_name = #{user_name},
			</if>
			<if test="work_unit_full_name != null">
				work_unit_full_name = #{work_unit_full_name},
			</if>
			<if test="balance_account != null">
				balance_account = #{balance_account},
			</if>
			<if test="accu_status != null">
				accu_status = #{accu_status},
			</if>
			<if test="start_date != null">
				start_date = #{start_date},
			</if>
			<if test="end_date != null">
				end_date = #{end_date},
			</if>
			<if test="create_user_id != null">
				create_user_id = #{create_user_id},
			</if>
			<if test="create_user_name != null">
				create_user_name = #{create_user_name},
			</if>
			<if test="create_timestamp != null">
				create_timestamp = #{create_timestamp},
			</if>
			<if test="last_update_user_id != null">
				last_update_user_id = #{last_update_user_id},
			</if>
			<if test="last_update_timestamp != null">
				last_update_timestamp = #{last_update_timestamp},
			</if>
			<if test="enable_flag != null">
				enable_flag = #{enable_flag},
			</if>
		</set>
		where
		wms_cre_credit_line_accu_fund_id = #{wms_cre_credit_line_accu_fund_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreCreditLineAccuFund"
		resultType="WmsCreCreditLineAccuFund">
		select
		wms_cre_credit_line_accu_fund_id,
		wms_cre_credit_head_id,
		user_name,
		work_unit_full_name,
		balance_account,
		accu_status,
		start_date,
		end_date,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag
		from
		wms_cre_credit_line_accu_fund
		<where>
			<if test="wms_cre_credit_line_accu_fund_id != null">
				and wms_cre_credit_line_accu_fund_id =
				#{wms_cre_credit_line_accu_fund_id}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="user_name != null">
				and user_name = #{user_name}
			</if>
			<if test="work_unit_full_name != null">
				and work_unit_full_name = #{work_unit_full_name}
			</if>
			<if test="balance_account != null">
				and balance_account = #{balance_account}
			</if>
			<if test="accu_status != null">
				and accu_status = #{accu_status}
			</if>
			<if test="start_date != null">
				and start_date = #{start_date}
			</if>
			<if test="end_date != null">
				and end_date = #{end_date}
			</if>
			<if test="create_user_id != null">
				and create_user_id = #{create_user_id}
			</if>
			<if test="create_user_name != null">
				and create_user_name = #{create_user_name}
			</if>
			<if test="create_timestamp != null">
				and create_timestamp = #{create_timestamp}
			</if>
			<if test="last_update_user_id != null">
				and last_update_user_id = #{last_update_user_id}
			</if>
			<if test="last_update_timestamp != null">
				and last_update_timestamp = #{last_update_timestamp}
			</if>
			<if test="enable_flag != null">
				and enable_flag = #{enable_flag}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_credit_line_accu_fund_id !=
				#{wms_cre_credit_line_accu_fund_id}
			</if>
		</where>
	</select>
</mapper> 
