<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper
	namespace="com.zx.emanage.loancheck.persist.WmsCreCreditLineCustomerInfoDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="WmsCreCreditLineCustomerInfo">
		select
		wms_cre_credit_line_customer_info_id,
		customer_type,
		apply_limit_money,
		apply_limit_time,
		apply_purpose,
		last_loan_money,
		repayment_status,
		overdue_status,
		date_format(last_apply_date,'%Y-%m-%d') as last_apply_date_str,
		last_apply_date,
		date_format(last_clean_date,'%Y-%m-%d') as last_clean_date_str,
		last_clean_date,
		info_update,
		wms_cre_credit_head_id,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag,
		criminal_record
		from
		wms_cre_credit_line_customer_info
		where
		wms_cre_credit_line_customer_info_id = #{wms_cre_credit_line_customer_info_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_cre_credit_line_customer_info_id) as count
		from
		wms_cre_credit_line_customer_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select
		wms_cre_credit_line_customer_info_id,
		customer_type,
		apply_limit_money,
		apply_limit_time,
		apply_purpose,
		last_loan_money,
		repayment_status,
		overdue_status,
		date_format(last_apply_date,'%Y-%m-%d') as last_apply_date_str,
		last_apply_date,
		date_format(last_clean_date,'%Y-%m-%d') as last_clean_date_str,
		last_clean_date,
		info_update,
		wms_cre_credit_head_id,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag,
		criminal_record
		from
		wms_cre_credit_line_customer_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsCreCreditLineCustomerInfo"
		useGeneratedKeys="true" keyProperty="wms_cre_credit_line_customer_info_id">
		INSERT INTO
		wms_cre_credit_line_customer_info
		(
		wms_cre_credit_line_customer_info_id,

		customer_type,

		apply_limit_money,

		apply_limit_time,

		apply_purpose,

		last_loan_money,

		repayment_status,

		overdue_status,

		last_apply_date,

		last_clean_date,

		info_update,

		wms_cre_credit_head_id,

		create_user_id,

		create_user_name,

		create_timestamp,

		last_update_user_id,

		last_update_timestamp,

		enable_flag,

		criminal_record

		)
		VALUES
		(
		#{wms_cre_credit_line_customer_info_id},
		#{customer_type},
		#{apply_limit_money},
		#{apply_limit_time},
		#{apply_purpose},
		#{last_loan_money},
		#{repayment_status},
		#{overdue_status},
		#{last_apply_date},
		#{last_clean_date},
		#{info_update},
		#{wms_cre_credit_head_id},
		#{create_user_id},
		#{create_user_name},
		#{create_timestamp},
		#{last_update_user_id},
		#{last_update_timestamp},
		#{enable_flag},
		#{criminal_record}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsCreCreditLineCustomerInfo">
		update wms_cre_credit_line_customer_info
		<set>
			<if test="wms_cre_credit_line_customer_info_id != null">
				wms_cre_credit_line_customer_info_id = #{wms_cre_credit_line_customer_info_id},
			</if>
			<if test="customer_type != null">
				customer_type = #{customer_type},
			</if>
			<if test="apply_limit_money != null">
				apply_limit_money = #{apply_limit_money},
			</if>
			<if test="apply_limit_time != null">
				apply_limit_time = #{apply_limit_time},
			</if>
			<if test="apply_purpose != null">
				apply_purpose = #{apply_purpose},
			</if>
			<if test="last_loan_money != null">
				last_loan_money = #{last_loan_money},
			</if>
			<if test="repayment_status != null">
				repayment_status = #{repayment_status},
			</if>
			<if test="overdue_status != null">
				overdue_status = #{overdue_status},
			</if>
			<if test="last_apply_date != null">
				last_apply_date = #{last_apply_date},
			</if>
			<if test="last_clean_date != null">
				last_clean_date = #{last_clean_date},
			</if>
			<if test="info_update != null">
				info_update = #{info_update},
			</if>
			<if test="wms_cre_credit_head_id != null">
				wms_cre_credit_head_id = #{wms_cre_credit_head_id},
			</if>
			<if test="create_user_id != null">
				create_user_id = #{create_user_id},
			</if>
			<if test="create_user_name != null">
				create_user_name = #{create_user_name},
			</if>
			<if test="create_timestamp != null">
				create_timestamp = #{create_timestamp},
			</if>
			<if test="last_update_user_id != null">
				last_update_user_id = #{last_update_user_id},
			</if>
			<if test="last_update_timestamp != null">
				last_update_timestamp = #{last_update_timestamp},
			</if>
			<if test="enable_flag != null">
				enable_flag = #{enable_flag},
			</if>
			<if test="criminal_record !=null">
				criminal_record =#{criminal_record}
			</if>
		</set>
		where
		wms_cre_credit_line_customer_info_id = #{wms_cre_credit_line_customer_info_id}
	</update>
	<select id="getListByEntity" parameterType="WmsCreCreditLineCustomerInfo"
		resultType="WmsCreCreditLineCustomerInfo">
		select
		wms_cre_credit_line_customer_info_id,
		customer_type,
		apply_limit_money,
		apply_limit_time,
		apply_purpose,
		last_loan_money,
		repayment_status,
		overdue_status,
		date_format(last_apply_date,'%Y-%m-%d') as last_apply_date_str,
		last_apply_date,
		date_format(last_clean_date,'%Y-%m-%d') as last_clean_date_str,
		last_clean_date,
		info_update,
		wms_cre_credit_head_id,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag,
		criminal_record
		from
		wms_cre_credit_line_customer_info
		<where>
			<if test="wms_cre_credit_line_customer_info_id != null">
				and wms_cre_credit_line_customer_info_id =
				#{wms_cre_credit_line_customer_info_id}
			</if>
			<if test="customer_type != null">
				and customer_type = #{customer_type}
			</if>
			<if test="apply_limit_money != null">
				and apply_limit_money = #{apply_limit_money}
			</if>
			<if test="apply_limit_time != null">
				and apply_limit_time = #{apply_limit_time}
			</if>
			<if test="apply_purpose != null">
				and apply_purpose = #{apply_purpose}
			</if>
			<if test="last_loan_money != null">
				and last_loan_money = #{last_loan_money}
			</if>
			<if test="repayment_status != null">
				and repayment_status = #{repayment_status}
			</if>
			<if test="overdue_status != null">
				and overdue_status = #{overdue_status}
			</if>
			<if test="last_apply_date != null">
				and last_apply_date = #{last_apply_date}
			</if>
			<if test="last_clean_date != null">
				and last_clean_date = #{last_clean_date}
			</if>
			<if test="info_update != null">
				and info_update = #{info_update}
			</if>
			<if test="wms_cre_credit_head_id != null">
				and wms_cre_credit_head_id = #{wms_cre_credit_head_id}
			</if>
			<if test="create_user_id != null">
				and create_user_id = #{create_user_id}
			</if>
			<if test="create_user_name != null">
				and create_user_name = #{create_user_name}
			</if>
			<if test="create_timestamp != null">
				and create_timestamp = #{create_timestamp}
			</if>
			<if test="last_update_user_id != null">
				and last_update_user_id = #{last_update_user_id}
			</if>
			<if test="last_update_timestamp != null">
				and last_update_timestamp = #{last_update_timestamp}
			</if>
			<if test="enable_flag != null">
				and enable_flag = #{enable_flag}
			</if>
			<if test="criminal_record != null">
				and criminal_record = #{criminal_record}
			</if>
			<if test="isExcludePKFlag != null and isExcludePKFlag == true">
				and wms_cre_credit_line_customer_info_id !=
				#{wms_cre_credit_line_customer_info_id}
			</if>
		</where>
	</select>
	<!-- get entity by fk -->
	<select id="getByFK" parameterType="int"
		resultType="WmsCreCreditLineCustomerInfo">
		select
		wms_cre_credit_line_customer_info_id,
		customer_type,
		apply_limit_money,
		apply_limit_time,
		apply_purpose,
		last_loan_money,
		repayment_status,
		overdue_status,
		date_format(last_apply_date,'%Y-%m-%d') as last_apply_date_str,
		last_apply_date,
		date_format(last_clean_date,'%Y-%m-%d') as last_clean_date_str,
		last_clean_date,
		info_update,
		wms_cre_credit_head_id,
		create_user_id,
		create_user_name,
		date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
		create_timestamp,
		last_update_user_id,
		date_format(last_update_timestamp,'%Y-%m-%d %H:%i:%s') as last_update_timestamp_str,
		last_update_timestamp,
		enable_flag,
		criminal_record
		from
		wms_cre_credit_line_customer_info
		where
		enable_flag='1' and
		wms_cre_credit_head_id = #{wms_cre_credit_head_id}
	</select>
</mapper> 
