<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.inve.persist.WmsInveCommissionSpecialRulesDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsInveCommissionSpecialRules">
		select
        				wms_inve_commission_special_rules_id,
        				wms_inve_pruduct_category_id,
						date_format(single_start_date,'%Y-%m-%d') as single_start_date_str,
        				single_start_date,
						date_format(single_end_date,'%Y-%m-%d') as single_end_date_str,
        				single_end_date,
        				cumulative_stock_begin,
        				cumulative_stock_end,
        				commission_type,
        				commission_coeff,
        				rule_state,
        				page_rule_state,
        				enable_flag,
						date_format(start_date,'%Y-%m-%d') as start_date_str,
        				start_date,
						date_format(stop_date,'%Y-%m-%d') as stop_date_str,
        				stop_date
        	from
        		wms_inve_commission_special_rules
        	where
        				wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_inve_commission_special_rules_id) as count
		from wms_inve_commission_special_rules
		<where>
			<if test="wms_inve_commission_special_rules_id != null">
				and wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id}
			</if>
			<if test="wms_inve_pruduct_category_id != null">
				and wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id}
			</if>
			<if test="single_start_date != null">
				and single_start_date = #{single_start_date}
			</if>
			<if test="single_end_date != null">
				and single_end_date = #{single_end_date}
			</if>
			<if test="cumulative_stock_begin != null">
				and cumulative_stock_begin = #{cumulative_stock_begin}
			</if>
			<if test="cumulative_stock_end != null">
				and cumulative_stock_end = #{cumulative_stock_end}
			</if>
			<if test="commission_type != null">
				and commission_type = #{commission_type}
			</if>
			<if test="commission_coeff != null">
				and commission_coeff = #{commission_coeff}
			</if>
			<if test="rule_state != null">
				and rule_state = #{rule_state}
			</if>
			<if test="page_rule_state != null">
				and page_rule_state = #{page_rule_state}
			</if>
			<if test="enable_flag != null">
				and enable_flag = #{enable_flag}
			</if>
			<if test="start_date != null">
				and start_date = #{start_date}
			</if>
			<if test="stop_date != null">
				and stop_date = #{stop_date}
			</if>
		 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
        				and wms_inve_commission_special_rules_id != #{wms_inve_commission_special_rules_id}
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_inve_commission_special_rules_id,
				wms_inve_pruduct_category_id,
				date_format(single_start_date,'%Y-%m-%d') as single_start_date_str,
				single_start_date,
				date_format(single_end_date,'%Y-%m-%d') as single_end_date_str,
				single_end_date,
				cumulative_stock_begin,
				cumulative_stock_end,
				commission_type,
				commission_coeff,
				rule_state,
				page_rule_state,
				enable_flag,
				date_format(start_date,'%Y-%m-%d') as start_date_str,
				start_date,
				date_format(stop_date,'%Y-%m-%d') as stop_date_str,
				stop_date
		from wms_inve_commission_special_rules
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsInveCommissionSpecialRules" useGeneratedKeys="true" keyProperty="wms_inve_commission_special_rules_id">
		INSERT INTO wms_inve_commission_special_rules
		(
				wms_inve_commission_special_rules_id,

				wms_inve_pruduct_category_id,

				single_start_date,

				single_end_date,

				cumulative_stock_begin,

				cumulative_stock_end,

				commission_type,

				commission_coeff,

				rule_state,

				page_rule_state,

				enable_flag,

				start_date,

				stop_date
		)
		VALUES
		(
				#{wms_inve_commission_special_rules_id},
				#{wms_inve_pruduct_category_id},
				#{single_start_date},
				#{single_end_date},
				#{cumulative_stock_begin},
				#{cumulative_stock_end},
				#{commission_type},
				#{commission_coeff},
				#{rule_state},
				#{page_rule_state},
				#{enable_flag},
				#{start_date},
				#{stop_date}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsInveCommissionSpecialRules">
		update wms_inve_commission_special_rules
		<set>
					<if test="wms_inve_commission_special_rules_id != null">
						 wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id},
					</if>
					<if test="wms_inve_pruduct_category_id != null">
						 wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id},
					</if>
					<if test="single_start_date != null">
						 single_start_date = #{single_start_date},
					</if>
					<if test="single_end_date != null">
						 single_end_date = #{single_end_date},
					</if>
					<if test="cumulative_stock_begin != null">
						 cumulative_stock_begin = #{cumulative_stock_begin},
					</if>
					<if test="cumulative_stock_end != null">
						 cumulative_stock_end = #{cumulative_stock_end},
					</if>
					<if test="commission_type != null">
						 commission_type = #{commission_type},
					</if>
					<if test="commission_coeff != null">
						 commission_coeff = #{commission_coeff},
					</if>
					<if test="rule_state != null">
						 rule_state = #{rule_state},
					</if>
					<if test="page_rule_state != null">
						 page_rule_state = #{page_rule_state},
					</if>
					<if test="enable_flag != null">
						 enable_flag = #{enable_flag},
					</if>
					<if test="start_date != null">
						 start_date = #{start_date},
					</if>
					<if test="stop_date != null">
						 stop_date = #{stop_date},
					</if>
	   </set>
		 where 
    				wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id}
	</update>
	<select id="getListByEntity" parameterType="WmsInveCommissionSpecialRules" resultType="WmsInveCommissionSpecialRules">
		select 
				wms_inve_commission_special_rules_id,
				wms_inve_pruduct_category_id,
				date_format(single_start_date,'%Y-%m-%d') as single_start_date_str,
				single_start_date,
				date_format(single_end_date,'%Y-%m-%d') as single_end_date_str,
				single_end_date,
				cumulative_stock_begin,
				cumulative_stock_end,
				commission_type,
				commission_coeff,
				rule_state,
				page_rule_state,
				enable_flag,
				date_format(start_date,'%Y-%m-%d') as start_date_str,
				start_date,
				date_format(stop_date,'%Y-%m-%d') as stop_date_str,
				stop_date
		from
		wms_inve_commission_special_rules
		<where>
					<if test="wms_inve_commission_special_rules_id != null">
						and wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id}
					</if>
					<if test="wms_inve_pruduct_category_id != null">
						and wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id}
					</if>
					<if test="single_start_date != null">
						and single_start_date = #{single_start_date}
					</if>
					<if test="single_end_date != null">
						and single_end_date = #{single_end_date}
					</if>
					<if test="cumulative_stock_begin != null">
						and cumulative_stock_begin = #{cumulative_stock_begin}
					</if>
					<if test="cumulative_stock_end != null">
						and cumulative_stock_end = #{cumulative_stock_end}
					</if>
					<if test="commission_type != null">
						and commission_type = #{commission_type}
					</if>
					<if test="commission_coeff != null">
						and commission_coeff = #{commission_coeff}
					</if>
					<if test="rule_state != null">
						and rule_state = #{rule_state}
					</if>
					<if test="page_rule_state != null">
						and page_rule_state = #{page_rule_state}
					</if>
					<if test="enable_flag != null">
						and enable_flag = #{enable_flag}
					</if>
					<if test="start_date != null">
						and start_date = #{start_date}
					</if>
					<if test="stop_date != null">
						and stop_date = #{stop_date}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_inve_commission_special_rules_id != #{wms_inve_commission_special_rules_id}
					</if>
		</where>
	</select>
	
	<!-- list -->
	<select id="searchSpecials" resultType="java.util.HashMap" parameterType="java.util.Map">
		select 
				r.wms_inve_commission_special_rules_id,
				r.wms_inve_pruduct_category_id,
				c.category_name,
				r.single_start_date,
				date_format(r.single_start_date,'%Y-%m-%d') as single_start_date_str,
				r.single_end_date,
				date_format(r.single_end_date,'%Y-%m-%d') as single_end_date_str,
				r.cumulative_stock_begin,
				r.cumulative_stock_end,
				r.commission_type,
				r.commission_coeff,
				r.rule_state,
				r.page_rule_state,
				r.enable_flag,
				r.start_date,
				date_format(r.start_date,'%Y-%m-%d') as start_date_str,
				r.stop_date,
				date_format(r.stop_date,'%Y-%m-%d') as stop_date_str
				
		from wms_inve_commission_special_rules r, wms_inve_pruduct_category c 
		<where>
			r.wms_inve_pruduct_category_id = c.wms_inve_pruduct_category_id and c.enable_flag = '1'
			<if test="forbiddenIds != null and forbiddenIds != ''">
				and wms_inve_commission_special_rules_id not in
				<foreach item="idItem" collection="forbiddenIds" open="(" separator="," close=")">
					#{idItem}
				</foreach>
			</if>
			<if test="wms_inve_commission_special_rules_id != null">
				and r.wms_inve_commission_special_rules_id = #{wms_inve_commission_special_rules_id}
			</if>
			<if test="wms_inve_pruduct_category_id != null">
				and r.wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id}
			</if>
			<if test="single_start_date != null">
				and r.single_start_date = #{single_start_date}
			</if>
			<if test="single_end_date != null">
				and r.single_end_date = #{single_end_date}
			</if>
			<if test="cumulative_stock_begin != null">
				and r.cumulative_stock_begin = #{cumulative_stock_begin}
			</if>
			<if test="cumulative_stock_end != null">
				and r.cumulative_stock_end = #{cumulative_stock_end}
			</if>
			<if test="commission_type != null">
				and r.commission_type = #{commission_type}
			</if>
			<if test="commission_coeff != null">
				and r.commission_coeff = #{commission_coeff}
			</if>
			<if test="rule_state != null">
				and r.rule_state = #{rule_state}
			</if>
			<if test="page_rule_state != null">
				and r.page_rule_state = #{page_rule_state}
			</if>
			<if test="enable_flag != null">
				and r.enable_flag = #{enable_flag}
			</if>
			<if test="start_date != null">
				and r.start_date = #{start_date}
			</if>
			<if test="stop_date != null">
				and r.stop_date = #{stop_date}
			</if>
		 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
        		and r.wms_inve_commission_special_rules_id != #{wms_inve_commission_special_rules_id}
			</if>
		</where>
		<if test="sortname != null and sortorder !=null">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>
</mapper> 
