<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.inve.persist.WmsInveTransaPruductRulesDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsInveTransaPruductRules">
		select
        				wms_inve_transa_pruduct_rules_id,
        				commission_general_rules,
        				create_user_id,
        				create_user_name,
						date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
        				create_timestamp,
        				enable_flag
        	from
        		wms_inve_transa_pruduct_rules
        	where
        				wms_inve_transa_pruduct_rules_id = #{wms_inve_transa_pruduct_rules_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_inve_transa_pruduct_rules_id) as count
		from wms_inve_transa_pruduct_rules
		<where>
			enable_flag =1
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_inve_transa_pruduct_rules_id,
				commission_general_rules,
				create_user_id,
				create_user_name,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				enable_flag
		from wms_inve_transa_pruduct_rules
		<where>
			enable_flag =1
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsInveTransaPruductRules" useGeneratedKeys="true" keyProperty="wms_inve_transa_pruduct_rules_id">
		INSERT INTO wms_inve_transa_pruduct_rules
		(
				wms_inve_transa_pruduct_rules_id,

				commission_general_rules,

				create_user_id,

				create_user_name,

				create_timestamp,

				enable_flag
		)
		VALUES
		(
				#{wms_inve_transa_pruduct_rules_id},
				#{commission_general_rules},
				#{create_user_id},
				#{create_user_name},
				#{create_timestamp},
				#{enable_flag}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsInveTransaPruductRules">
		update wms_inve_transa_pruduct_rules
		<set>
					<if test="wms_inve_transa_pruduct_rules_id != null">
						 wms_inve_transa_pruduct_rules_id = #{wms_inve_transa_pruduct_rules_id},
					</if>
					<if test="commission_general_rules != null">
						 commission_general_rules = #{commission_general_rules},
					</if>
					<if test="create_user_id != null">
						 create_user_id = #{create_user_id},
					</if>
					<if test="create_user_name != null">
						 create_user_name = #{create_user_name},
					</if>
					<if test="create_timestamp != null">
						 create_timestamp = #{create_timestamp},
					</if>
					<if test="enable_flag != null">
						 enable_flag = #{enable_flag},
					</if>
	   </set>
		 where 
    				wms_inve_transa_pruduct_rules_id = #{wms_inve_transa_pruduct_rules_id}
	</update>
	<select id="getListByEntity" parameterType="WmsInveTransaPruductRules" resultType="WmsInveTransaPruductRules">
		select 
				wms_inve_transa_pruduct_rules_id,
				commission_general_rules,
				create_user_id,
				create_user_name,
				date_format(create_timestamp,'%Y-%m-%d %H:%i:%s') as create_timestamp_str,
				create_timestamp,
				enable_flag
		from
		wms_inve_transa_pruduct_rules
		<where>
					<if test="wms_inve_transa_pruduct_rules_id != null">
						and wms_inve_transa_pruduct_rules_id = #{wms_inve_transa_pruduct_rules_id}
					</if>
					<if test="commission_general_rules != null">
						and commission_general_rules = #{commission_general_rules}
					</if>
					<if test="create_user_id != null">
						and create_user_id = #{create_user_id}
					</if>
					<if test="create_user_name != null">
						and create_user_name = #{create_user_name}
					</if>
					<if test="create_timestamp != null">
						and create_timestamp = #{create_timestamp}
					</if>
					<if test="enable_flag != null">
						and enable_flag = #{enable_flag}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_inve_transa_pruduct_rules_id != #{wms_inve_transa_pruduct_rules_id}
					</if>
		</where>
	</select>
	
	<!-- save -->
	<insert id="saveList" parameterType="java.util.List">
		INSERT INTO wms_inve_transa_pruduct_rules
		(

				commission_general_rules,

				create_user_id,

				create_user_name,

				create_timestamp,

				enable_flag
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
				#{item.commission_general_rules},
				#{item.create_user_id},
				#{item.create_user_name},
				#{item.create_timestamp},
				#{item.enable_flag}
			)
		</foreach>
	</insert>
	<!-- deleteList -->
	<delete id="deleteList" parameterType="java.util.List">
		delete 
		from 
		wms_inve_transa_pruduct_rules
		where  wms_inve_transa_pruduct_rules_id in
		(<foreach collection="list" item="item" index="index" separator=",">
			
						#{item}
			
		</foreach>)
	</delete>
</mapper> 
