<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.inve.persist.WmsInveCommissionPersonnelRewardDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsInveCommissionPersonnelReward">
		select
        				wms_inve_commission_personnel_reward_id,
        				wms_inve_commission_reward_head_rules_id,
        				reward_model,
        				reward_method
        	from
        		wms_inve_commission_personnel_reward
        	where
        				wms_inve_commission_personnel_reward_id = #{wms_inve_commission_personnel_reward_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_inve_commission_personnel_reward_id) as count
		from wms_inve_commission_personnel_reward
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_inve_commission_personnel_reward_id,
				wms_inve_commission_reward_head_rules_id,
				reward_model,
				reward_method
		from wms_inve_commission_personnel_reward
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsInveCommissionPersonnelReward" useGeneratedKeys="true" keyProperty="wms_inve_commission_personnel_reward_id">
		INSERT INTO wms_inve_commission_personnel_reward
		(
				wms_inve_commission_personnel_reward_id,

				wms_inve_commission_reward_head_rules_id,

				reward_model,

				reward_method
		)
		VALUES
		(
				#{wms_inve_commission_personnel_reward_id},
				#{wms_inve_commission_reward_head_rules_id},
				#{reward_model},
				#{reward_method}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsInveCommissionPersonnelReward">
		update wms_inve_commission_personnel_reward
		<set>
					<if test="wms_inve_commission_personnel_reward_id != null">
						 wms_inve_commission_personnel_reward_id = #{wms_inve_commission_personnel_reward_id},
					</if>
					<if test="wms_inve_commission_reward_head_rules_id != null">
						 wms_inve_commission_reward_head_rules_id = #{wms_inve_commission_reward_head_rules_id},
					</if>
					<if test="reward_model != null">
						 reward_model = #{reward_model},
					</if>
					<if test="reward_method != null">
						 reward_method = #{reward_method},
					</if>
	   </set>
		 where 
    				wms_inve_commission_personnel_reward_id = #{wms_inve_commission_personnel_reward_id}
	</update>
	<select id="getListByEntity" parameterType="WmsInveCommissionPersonnelReward" resultType="WmsInveCommissionPersonnelReward">
		select 
				wms_inve_commission_personnel_reward_id,
				wms_inve_commission_reward_head_rules_id,
				reward_model,
				reward_method
		from
		wms_inve_commission_personnel_reward
		<where>
					<if test="wms_inve_commission_personnel_reward_id != null">
						and wms_inve_commission_personnel_reward_id = #{wms_inve_commission_personnel_reward_id}
					</if>
					<if test="wms_inve_commission_reward_head_rules_id != null">
						and wms_inve_commission_reward_head_rules_id = #{wms_inve_commission_reward_head_rules_id}
					</if>
					<if test="reward_model != null">
						and reward_model = #{reward_model}
					</if>
					<if test="reward_method != null">
						and reward_method = #{reward_method}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_inve_commission_personnel_reward_id != #{wms_inve_commission_personnel_reward_id}
					</if>
		</where>
	</select>
	<!-- savelist -->
	<insert id="saveAll" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="wms_inve_commission_personnel_reward_id">
		INSERT INTO wms_inve_commission_personnel_reward
		(

				wms_inve_commission_reward_head_rules_id,

				reward_model,

				reward_method
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
				#{item.wms_inve_commission_reward_head_rules_id},
				#{item.reward_model},
				#{item.reward_method}
		)
		</foreach>
	</insert>
</mapper> 
