<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.inve.persist.WmsInveCustomerRemoveHisDao">

	<insert id="batchSaveWmsInveCustomerRemoveHis" parameterType="java.util.List" >
		insert into wms_inve_customer_remove_his
		(
			crm_customer_id,
			wms_inve_customer_id,
			change_date,
			base_bel_personnel_id,
			bel_personnel_id,
			last_update_timestamp,
			end_of_date,
			data_type
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.crm_customer_id },
			#{item.wms_inve_customer_id },
			#{item.change_date },
			#{item.base_bel_personnel_id },
			#{item.bel_personnel_id },
			#{item.last_update_timestamp },
			#{item.end_of_date},
			#{item.data_type}
		)
		</foreach>
	</insert>
	
	<select id="queryWmsInveCustomerRemoveHisInCompany" parameterType="map" resultType="WmsInveCustomerRemoveHis">
		SELECT * 
		FROM wms_inve_customer_remove_his 
		WHERE 
			bel_personnel_id = #{bel_personnel_id} 
			AND crm_customer_id = #{crm_customer_id } 
		ORDER BY last_update_timestamp DESC
	</select>
	
	<update id="updateEndOfDateInCompany" parameterType="WmsInveCustomerRemoveHis" >
		UPDATE wms_inve_customer_remove_his 
		SET end_of_date = #{end_of_date } 
		WHERE
			wms_inve_customer_remove_his = #{wms_inve_customer_remove_his }
	</update>
</mapper>