<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zx.emanage.inve.persist.WmsInveCommissionBillSpDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="int" resultType="WmsInveCommissionBillSp">
		select
        				wms_inve_commission_bill_sp_id,
        				wms_inve_transa_prod_id,
        				wms_inve_transa_id,
        				wms_inve_pruduct_category_id,
        				cus_name,
        				id_card,
        				mobile_phone,
        				prot_code,
        				category_name,
        				category_deadline,
        				product_account,
        				post_id,
        				personnel_state,
        				commission_coeff,
        				remark
        	from
        		wms_inve_commission_bill_sp
        	where
        				wms_inve_commission_bill_sp_id = #{wms_inve_commission_bill_sp_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="int">
		select count(wms_inve_commission_bill_sp_id) as count
		from wms_inve_commission_bill_sp
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				wms_inve_commission_bill_sp_id,
				wms_inve_transa_prod_id,
				wms_inve_transa_id,
				wms_inve_pruduct_category_id,
				cus_name,
				id_card,
				mobile_phone,
				prot_code,
				category_name,
				category_deadline,
				product_account,
				post_id,
				personnel_state,
				commission_coeff,
				remark
		from wms_inve_commission_bill_sp
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sortname != '' and sortorder !=''">
			ORDER BY ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="WmsInveCommissionBillSp" useGeneratedKeys="true" keyProperty="wms_inve_commission_bill_sp_id">
		INSERT INTO wms_inve_commission_bill_sp
		(
				wms_inve_commission_bill_sp_id,

				wms_inve_transa_prod_id,

				wms_inve_transa_id,

				wms_inve_pruduct_category_id,

				cus_name,

				id_card,

				mobile_phone,

				prot_code,

				category_name,

				category_deadline,

				product_account,

				post_id,

				personnel_state,

				commission_coeff,

				remark
		)
		VALUES
		(
				#{wms_inve_commission_bill_sp_id},
				#{wms_inve_transa_prod_id},
				#{wms_inve_transa_id},
				#{wms_inve_pruduct_category_id},
				#{cus_name},
				#{id_card},
				#{mobile_phone},
				#{prot_code},
				#{category_name},
				#{category_deadline},
				#{product_account},
				#{post_id},
				#{personnel_state},
				#{commission_coeff},
				#{remark}
		);
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="WmsInveCommissionBillSp">
		update wms_inve_commission_bill_sp
		<set>
					<if test="wms_inve_commission_bill_sp_id != null">
						 wms_inve_commission_bill_sp_id = #{wms_inve_commission_bill_sp_id},
					</if>
					<if test="wms_inve_transa_prod_id != null">
						 wms_inve_transa_prod_id = #{wms_inve_transa_prod_id},
					</if>
					<if test="wms_inve_transa_id != null">
						 wms_inve_transa_id = #{wms_inve_transa_id},
					</if>
					<if test="wms_inve_pruduct_category_id != null">
						 wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id},
					</if>
					<if test="cus_name != null">
						 cus_name = #{cus_name},
					</if>
					<if test="id_card != null">
						 id_card = #{id_card},
					</if>
					<if test="mobile_phone != null">
						 mobile_phone = #{mobile_phone},
					</if>
					<if test="prot_code != null">
						 prot_code = #{prot_code},
					</if>
					<if test="category_name != null">
						 category_name = #{category_name},
					</if>
					<if test="category_deadline != null">
						 category_deadline = #{category_deadline},
					</if>
					<if test="product_account != null">
						 product_account = #{product_account},
					</if>
					<if test="post_id != null">
						 post_id = #{post_id},
					</if>
					<if test="personnel_state != null">
						 personnel_state = #{personnel_state},
					</if>
					<if test="commission_coeff != null">
						 commission_coeff = #{commission_coeff},
					</if>
					<if test="remark != null">
						 remark = #{remark},
					</if>
	   </set>
		 where 
    				wms_inve_commission_bill_sp_id = #{wms_inve_commission_bill_sp_id}
	</update>
	<select id="getListByEntity" parameterType="WmsInveCommissionBillSp" resultType="WmsInveCommissionBillSp">
		select 
				wms_inve_commission_bill_sp_id,
				wms_inve_transa_prod_id,
				wms_inve_transa_id,
				wms_inve_pruduct_category_id,
				cus_name,
				id_card,
				mobile_phone,
				prot_code,
				category_name,
				category_deadline,
				product_account,
				post_id,
				personnel_state,
				commission_coeff,
				remark
		from
		wms_inve_commission_bill_sp
		<where>
					<if test="wms_inve_commission_bill_sp_id != null">
						and wms_inve_commission_bill_sp_id = #{wms_inve_commission_bill_sp_id}
					</if>
					<if test="wms_inve_transa_prod_id != null">
						and wms_inve_transa_prod_id = #{wms_inve_transa_prod_id}
					</if>
					<if test="wms_inve_transa_id != null">
						and wms_inve_transa_id = #{wms_inve_transa_id}
					</if>
					<if test="wms_inve_pruduct_category_id != null">
						and wms_inve_pruduct_category_id = #{wms_inve_pruduct_category_id}
					</if>
					<if test="cus_name != null">
						and cus_name = #{cus_name}
					</if>
					<if test="id_card != null">
						and id_card = #{id_card}
					</if>
					<if test="mobile_phone != null">
						and mobile_phone = #{mobile_phone}
					</if>
					<if test="prot_code != null">
						and prot_code = #{prot_code}
					</if>
					<if test="category_name != null">
						and category_name = #{category_name}
					</if>
					<if test="category_deadline != null">
						and category_deadline = #{category_deadline}
					</if>
					<if test="product_account != null">
						and product_account = #{product_account}
					</if>
					<if test="post_id != null">
						and post_id = #{post_id}
					</if>
					<if test="personnel_state != null">
						and personnel_state = #{personnel_state}
					</if>
					<if test="commission_coeff != null">
						and commission_coeff = #{commission_coeff}
					</if>
					<if test="remark != null">
						and remark = #{remark}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and wms_inve_commission_bill_sp_id != #{wms_inve_commission_bill_sp_id}
					</if>
		</where>
	</select>
</mapper> 
